
$background: #f6f6f6;
$content-background: #f9f9f9;
$landing-header-size: 70px;

@mixin transition($type: normal, $property: all) {
  @if ($type == slow) {
    transition: $property .42s ease;
  }
  @if ($type == normal) {
    transition: $property .26s ease;
  }
  @if ($type == fast) {
    transition: $property .14s ease;
  }
}


@mixin host($columns: false) {
  display: block;
  margin: auto;
  padding: 0 20px;
  max-width: 600px;

  .block-separation {
    display: block;
    margin-bottom: 40px;
  }

  @if($columns) {

    .side {
      width: 100%;
      max-width: 600px;

    }

    @media (min-width: #{(600px * 2) + (40px * 3)}) {
      display: flex;
      justify-content: center;
      padding: 0;
      max-width: 100%;

      & > .side {
        margin: 0 20px;
      }
      mat-card,
      mat-accordion,
      .block-separation {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  @if(not $columns) {
    mat-card,
    mat-accordion,
    .block-separation {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  h2.heading {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    margin: 20px 0;
  }

  @media (max-width: 540px) {
    mat-card,
    mat-accordion,
    .block-separation {
      &,
      &:last-child {
        margin-bottom: 20px;
      }
    }
    .side:last-child {
      mat-card,
      mat-accordion,
      .block-separation {
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
    h2.heading {
      margin: 10px 0;
    }
  }
}

@mixin organisation() {
  .organisation {
    display: flex;
    align-items: center;
    padding: 4px 12px;
    padding-right: 6px;
    background: #dddddd;
    border-radius: 24px;
    height: 48px;
    line-height: 17px;
    max-width: 320px;
    margin: 4px auto 0;
    position: relative;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;

    &--margin {
      margin-top: 20px;
    }

    &__info {
      padding: 0 12px;
      flex: 1;
      overflow: hidden;
      text-align: left;
    }
    &__name,
    &__balance,
    &__not-member {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__name {
      display: block;
    }
    &__balance {
      display: block;
      font-family: "Roboto Mono";

      span {
        opacity: .6;
        padding-left: 2px;
        font-size: .7em;
      }
    }
    &__not-member {
      display: block;
      opacity: .6;
    }
    button {
      border-radius: #{(36px / 2)};
      background: rgba(#ffffff, .6);

      & /deep/ .mat-button-ripple {
        border-radius: #{(36px / 2)};
      }
    }
  }
}

@mixin header {
  position: fixed;
  z-index: 10;
  line-height: $landing-header-size;
  height: $landing-header-size;
  padding: 0 40px;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0,0,0, .08);
  background: #ffffff;
  color: #555555;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-weight: 300;
    margin: 0;
    font-size: 32px;
    margin-right: 40px;
    cursor: default;
    white-space: nowrap;
    position: relative;

    span {
      line-height: $landing-header-size - 2px;
      height: $landing-header-size;
      display: inline-block;
      vertical-align: middle;
    }

    span.extra {
      @include transition();

      overflow: hidden;
      white-space: nowrap;
      position: relative;
      width: 0;

      &:before {
        content: 'ereum';
      }
      @media (max-width: 680px) {
        display: none;
      }
    }
    &:hover span.extra {
      width: 89.47px;
    }
    span.slim {
      font-weight: 400;
    }

    &:after {
      content: "beta";
      position: absolute;
      top: 0;
      font-weight: 400;
      left: 100%;
      margin-top: -5px;
      margin-left: -1px;
      font-size: 12px;
      font-family: "Roboto Mono";
      padding-left: 6px;
      color: #3f51b5;

      @media (max-width: 700px) {
        content: '\03B2';
      }
    }
  }

  @media (max-width: 540px) {
    padding: 0 20px;

    h1 {
      margin-right: 26px;
    }
  }
}

@mixin ranking() {
  .ranking {
    padding: 8px 0;
    color: #333;
    display: flex;
    align-items: center;
    width: 100%;

    eth-kudos-blockie {
      vertical-align: middle;
      margin-right: 10px;
      display: inline-block;
    }

    &__balance {
      font-family: 'Roboto Mono';
      color: #666666;
      background: #dddddd;
      padding: 2px 10px;
      display: inline-block;
      border-radius: 12.5px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

      code {
        opacity: .6;
        padding-left: 2px;
        font-size: .7em;
      }
      &-wrapper {
        min-width: 108px;
        display: inline-block;
        text-align: right;
        margin-right: 18px;
        vertical-align: middle;

        @media (max-width: 400px) {
          min-width: 80px;
          font-size: 12px;
        }
      }
    }
    [data-n='1']:not([data-kudos='0']) &__balance {
      color: #ffffff;
      background: #cfb53b;
    }
    [data-n='2']:not([data-kudos='0']) &__balance {
      color: #ffffff;
      background: #b3ccea;
    }
    [data-n='3']:not([data-kudos='0']) &__balance {
      color: #ffffff;
      background: #a58768;
    }
    &__name {
      font-size: 20px;
      font-weight: 400;
      opacity: .8;
      padding-top: 2px;
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      flex: 1;

      &--address {
        font-family: "Roboto Mono";
        font-size: 14px;
        padding-top: 1px;
        opacity: .6 !important;
      }

      @media (max-width: 400px) {
        font-size: 16px;

        &--address {
          font-size: 12px;
        }
      }
    }
    [data-n='1'] &__name,
    [data-n='2'] &__name,
    [data-n='3'] &__name {
      opacity: 1;
    }

    &-wrapper {
      margin: 0 !important;
      width: 100%;
    }

    &__icon {
      &--no-participation {
        color: #64bce4;
      }
      &--on-top {
        color: #009688;
      }
      &--top-sender {
        color: #FF9800;
      }
      &--beginner {
        color: #999999;
      }
    }

    &__extra {
      opacity: .8;
      font-weight: 300;
      padding-left: 20px;

      @media (max-width: 460px) {
        padding-left: 4px;
      }

      &-icon {
        &--in {
          color: #009688;
        }
        &--out {
          color: #FF9800;
        }
      }

      mat-icon.mat-icon {
        vertical-align: middle;
        font-size: 16px;
        height: 16px;
        width: 18px;
        opacity: .6;
      }
    }
  }
}

@mixin gratitude-card() {
  .gratitude {
    position: relative;

    mat-card-title {
      span {
        opacity: .6;
      }
    }
    mat-card-subtitle {
      margin-bottom: 0;
      padding-right: 100px;
    }
    [mat-card-avatar] {
      margin-right: 10px;
    }

    &__kudos {
      position: absolute;
      top: 50%;
      right: 24px;
      transform: translateY(-50%);
      font-family: 'Roboto Mono';
      color: #666666;
      background: #dddddd;
      padding: 2px 10px;
      display: inline-block;
      border-radius: 12.5px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

      span {
        opacity: .6;
        padding-left: 2px;
        font-size: .7em;
      }
    }
  }
}
