
$background: #f6f6f6;
$content-background: #f9f9f9;
$landing-header-size: 70px;

@mixin transition() {
  transition: all .26s ease;
}

@mixin host($columns: false) {
  display: block;
  margin: auto;
  padding: 0 20px;
  max-width: 600px;

  .block-separation {
    display: block;
    margin-bottom: 40px;
  }

  @if($columns) {

    .side {
      width: 100%;
      max-width: 600px;

    }

    @media (min-width: #{(600px * 2) + (40px * 3)}) {
      display: flex;
      justify-content: center;
      padding: 0;
      max-width: 100%;

      & > .side {
        margin: 0 20px;
      }
      mat-card,
      mat-accordion,
      .block-separation {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  @if(not $columns) {
    mat-card,
    mat-accordion,
    .block-separation {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  h2.heading {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    margin: 20px 0;
  }

  @media (max-width: 540px) {
    mat-card,
    mat-accordion,
    .block-separation {
      &,
      &:last-child {
        margin-bottom: 20px;
      }
    }
    .side:last-child {
      mat-card,
      mat-accordion,
      .block-separation {
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
    h2.heading {
      margin: 10px 0;
    }
  }
}

@mixin organisation() {
  .organisation {
    display: flex;
    align-items: center;
    padding: 4px 12px;
    padding-right: 6px;
    background: #dddddd;
    border-radius: 24px;
    height: 48px;
    line-height: 17px;
    max-width: 320px;
    margin: 4px auto 0;
    position: relative;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;

    &--margin {
      margin-top: 20px;
    }

    &__info {
      padding: 0 12px;
      flex: 1;
      overflow: hidden;
      text-align: left;
    }
    &__name,
    &__balance,
    &__not-member {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__name {
      display: block;
    }
    &__balance {
      display: block;
      font-family: "Roboto Mono";

      span {
        opacity: .6;
        padding-left: 2px;
        font-size: .7em;
      }
    }
    &__not-member {
      display: block;
      opacity: .6;
    }
    button {
      border-radius: #{36px / 2};
      background: rgba(#ffffff, .6);

      & /deep/ .mat-button-ripple {
        border-radius: #{36px / 2};
      }
    }
  }
}

@mixin header {
  position: fixed;
  z-index: 10;
  line-height: $landing-header-size;
  height: $landing-header-size;
  padding: 0 40px;
  width: 100%;
  // max-width: 1800px;
  top: 0;
  left: 50%;
  border-bottom: 1px solid rgba(0,0,0, .08);
  transform: translateX(-50%);
  background: #ffffff;
  color: #555555;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  // box-shadow: 0 0 10px rgba(#000000, .2);

  h1 {
    font-weight: 300;
    margin: 0;
    font-size: 32px;
    margin-right: 40px;
    cursor: default;
    white-space: nowrap;
    position: relative;

    span {
      line-height: $landing-header-size - 2px;
      height: $landing-header-size;
      display: inline-block;
      vertical-align: middle;
    }

    span.extra {
      @include transition();

      overflow: hidden;
      white-space: nowrap;
      position: relative;
      width: 0;

      &:before {
        content: 'ereum';
      }
      @media (max-width: 680px) {
        display: none;
      }
    }
    &:hover span.extra {
      width: 89.47px;
    }
    span.slim {
      font-weight: 400;
    }

    &:after {
      content: "beta";
      position: absolute;
      top: 0;
      left: 100%;
      margin-top: -5px;
      margin-left: -1px;
      font-size: 12px;
      font-family: "Roboto Mono";
      padding-left: 6px;
      color: #3f51b5;

      @media (max-width: 700px) {
        content: '\03B2';
      }
    }
  }

  @media (max-width: 540px) {
    padding: 0 20px;

    h1 {
      margin-right: 26px;
    }
  }
}
