@import '~@angular/material/theming';
@import '../../styles/index';

:host {
  background: $background;
  display: block;

  * {
    box-sizing: border-box;
  }
}

header {
  @include header;

  h1 {
    cursor: pointer;
  }
}

.container {
  padding-top: $landing-header-size;

  .header-bg {
    background: #666666;
    height: 400px;
  }
  .content-wrapper {
    padding: 0 40px 40px;

    @media (max-width: 600px) {
      padding: 0 20px 20px;
    }
    @media (max-width: 500px) {
      padding: 0 0 20px;
    }
  }
  .content {
    max-width: 900px;
    margin: auto;
    margin-top: -200px;
    background: $background;
    position: relative;

    h1 {
      font-weight: 300;
      font-size: 40px;
      color: #ffffff;
      margin: 0;
      text-shadow: 0 1px 3px rgba(0, 0, 0, .8);
      height: 0;
      position: relative;
      padding: 0px 40px;
      top: -72px;

      @media (max-width: 500px) {
        text-align: center;
      }
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      height: 240px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    }
    .content-box {
      padding: 40px 40px 0;
      position: relative;
      background-color: $background;
      background-image: linear-gradient(to bottom, #ffffff 40px, rgba(#ffffff, 0) 240px);
      display: block;

      @media (max-width: 460px) {
        padding: 40px 20px 0;
      }
    }
  }
}


@import '../../styles/index';
@import '../../styles/index';
