<mat-card *ngIf="getActivePollContract$ | async as activePollContract" class="active-poll relative">
  <mat-card-header>
    <eth-kudos-blockie [address]="activePollContract.address" variant="card" mat-card-avatar></eth-kudos-blockie>
    <mat-card-title>Active polling</mat-card-title>
    <mat-card-subtitle>
      <div class="icon-block">
        <mat-icon>person</mat-icon>
        <span>
          {{ getActivePollMembersNumber$ | async | i18nPlural : {'=1': '# member', 'other': '# members'} }}
        </span>
      </div>
      <div class="icon-block bp-l">
        <mat-icon>date_range</mat-icon>
        <span>
          at {{(getActivePollCreation$ | async) * 1000 | date : 'short'}}
        </span>
      </div>
    </mat-card-subtitle>
  </mat-card-header>

  <div class="remaining-wrapper" *ngIf="imMember$ | async">
    Remaining

    <code class="remaining">
      {{(getActivePollRemainingKudos$ | async) || 0}}<span class="remaining__symbol">{{(token$ | async)?.symbol}}</span>
    </code>
  </div>
</mat-card>

<form #rewardForm="ngForm" novalidate *ngIf="imMember$ | async">
  <mat-card [attr.disabled]="reward.working" class="relative">
    <mat-progress-bar class="on-disabled" mode="indeterminate"></mat-progress-bar>

    <mat-card-header>
      <mat-card-title>Send gratitudes</mat-card-title>
      <mat-card-subtitle>
        Send {{(token$ | async)?.symbol}} and a gratitude message to other members.
      </mat-card-subtitle>
    </mat-card-header>

    <mat-form-field class="input-address">
      <eth-kudos-blockie matPrefix [address]="reward.member" variant="prefix"></eth-kudos-blockie>
      <mat-select
        [(ngModel)]="reward.member"
        name="rewardMember"
        placeholder="Member"
        required>

        <mat-option
          *ngFor="let contact of getOtherMembers$ | async"
          [value]="contact.member">

          <div class="select-contact">
            <eth-kudos-blockie [address]="contact.member" variant="prefix"></eth-kudos-blockie>

            <div class="select-contact__info" *ngIf="contact.name">
              <div class="select-contact__name">{{contact.name}}</div>
              <div class="select-contact__account" [attr.data-address]="contact.member"></div>
            </div>
            <div class="select-contact__info" *ngIf="!contact.name">
              <div class="select-contact__account">{{contact.member}}</div>
            </div>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="input-address kudos-input">
      <input
        matInput
        [(ngModel)]="reward.kudos"
        type="number"
        [max]="maxKudosToSend$ | async"
        [min]="0"
        name="rewardKudos"
        placeholder="How many {{(token$ | async)?.symbol}} do you want to send"
        required>
      <span class="symbol-suffix" matSuffix>{{(token$ | async)?.symbol}}</span>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [(ngModel)]="reward.message"
        type="text"
        name="rewardMessage"
        placeholder="Message of gratitude"
        required>
    </mat-form-field>

    <mat-card-actions>
      <button mat-button (click)="rewardForm.reset()" type="button">Clear</button>
      <button
        mat-button
        color="primary"
        type="button"
        [disabled]="!rewardForm.valid"
        (click)="sendReward(rewardForm)">

        Send gratitudes
      </button>
    </mat-card-actions>
  </mat-card>
</form>
