<div class="side">
  <mat-card
    *ngIf="activePoll$ | async as activePoll"
    routerLink="./active"
    class="active-poll relative pointer">

    <mat-card-header>
      <eth-kudos-blockie [address]="activePoll.address" variant="card" mat-card-avatar></eth-kudos-blockie>
      <mat-card-title translate>Active polling</mat-card-title>
      <mat-card-subtitle class="loading__text bp-l" [class.loading]="!activePoll?.members">
        {{'MEMBERS_LONG' | translate : {NUMBER: (activePoll?.members?.length || '')} }}
      </mat-card-subtitle>
      <mat-card-subtitle class="loading__text bp-s" [class.loading]="!activePoll?.members">
        {{'MEMBERS_SHORT' | translate : {NUMBER: (activePoll?.members?.length || '')} }}
      </mat-card-subtitle>
    </mat-card-header>

    <div class="remaining-wrapper" *ngIf="(kudosToken$ | async)?.imMember" [class.loading]="!activePoll.myBalance && activePoll.myBalance !== 0">
      <span class="loading__text loading__text--short">{{'Remaining' | translate}}</span>

      <code class="loading__text loading__text--shorter loading__text--auto-left remaining">
        {{activePoll?.myBalance || 0 | number}}<span class="remaining__symbol">{{(kudosToken$ | async)?.symbol}}</span>
      </code>
    </div>
  </mat-card>

  <div class="no-active-poll" *ngIf="(activePoll$ | async) === undefined">
    <mat-icon>not_interested</mat-icon>
    {{'No active poll' | translate}}
  </div>

  <div class="no-active-poll no-active-poll--sub" *ngIf="(activePoll$ | async) === undefined">
    <span *ngIf="(kudosToken$ | async)?.imOwner">
      {{'You can open a new polling.' | translate}}
      <button mat-button routerLink="./admin">{{'go to admin' | translate}}</button>
    </span>
    <span *ngIf="!(kudosToken$ | async)?.imOwner">
      {{'The owner can create a new one.' | translate}}
    </span>
  </div>

  <h2 class="heading" *ngIf="(previousPolls$ | async)?.length" translate>Previous polls</h2>

  <mat-accordion *ngIf="previousPolls$ | async as previousPolls">
    <mat-expansion-panel
      *ngFor="let poll of previousPolls; let i = index; trackBy: trackPoll"
      class="pointer"
      [class.loading]="!poll.creation"
      [routerLink]="['./closed', poll.address]"
      [hideToggle]="true"
      [disabled]="true">

      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="previous">

            <eth-kudos-blockie [address]="poll.address"></eth-kudos-blockie>

            <span class="previous__number">#{{previousPolls.length - i | number : '2.0-0'}}</span>

            <mat-icon class="loading__icon bp-l">date_range</mat-icon>

            <span class="loading__text previous__date bp-l">{{'AT_DATE' | translate : {DATE: (poll.creation | date : 'longDate') || ''} }}</span>

            <div
              *ngIf="((kudosToken$ | async)?.imMember || poll.myKudos) && poll.myKudos !== 0"
              class="previous__right loading__text"
              [class.loading]="!poll.myKudos && poll.myKudos !== 0">

              {{'Gratified' | translate}}
              <code class="previous__my-kudos">
                {{poll.myKudos | number}}<!--
             --><span class="previous__my-kudos-symbol">{{(kudosToken$ | async)?.symbol}}</span>
              </code>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="side" *ngIf="(kudosToken$ | async)?.results as results">
  <h2 class="heading" *ngIf="results?.length" translate>Most awarded</h2>

  <mat-accordion *ngIf="results?.length">
    <mat-expansion-panel
      *ngFor="let result of results; let i = index; trackBy: trackMember"
      [hideToggle]="true"
      [disabled]="true">

      <mat-expansion-panel-header>
        <mat-panel-title class="ranking-wrapper">
          <div class="ranking" [attr.data-n]="i + 1" [attr.data-kudos]="result.kudos || 0 | number">
            <span class="ranking__balance-wrapper">
              <span class="ranking__balance">{{result.kudos | number}}<code>{{(kudosToken$ | async)?.symbol}}</code></span>
            </span>

            <eth-kudos-blockie [address]="result.member"></eth-kudos-blockie>

            <span class="ranking__name">{{result.name}}</span>

            <mat-icon
              class="ranking__extra ranking__icon--top-sender"
              [matTooltip]="'The most grateful' | translate"
              *ngIf="result?.achievements?.topSender">

              whatshot
            </mat-icon>

            <mat-icon
              class="ranking__extra ranking__icon--on-top"
              [matTooltip]="'One of the most grateful' | translate"
              *ngIf="result?.achievements?.onTop && !result?.achievements?.topSender">

              whatshot
            </mat-icon>

            <mat-icon
              class="ranking__extra ranking__icon--no-participation"
              [matTooltip]="'No participation yet' | translate"
              *ngIf="result?.achievements?.noParticipation && !result?.achievements?.beginner">

              ac_unit
            </mat-icon>

            <mat-icon
              class="ranking__extra ranking__icon--beginner"
              [matTooltip]="'Beginner' | translate"
              *ngIf="result?.achievements?.beginner">

              fiber_new
            </mat-icon>

            <span class="ranking__extra" [class.loading]="result.gratitudesReceived === undefined" [matTooltip]="'Gratitudes received' | translate">
              <mat-icon class="loading__icon ranking__extra-icon--in">call_received</mat-icon>
              <span class="loading__text loading__text--micro">{{result.gratitudesReceived || 0}}</span>
            </span>
            <span class="ranking__extra" [class.loading]="result.gratitudesReceived === undefined" [matTooltip]="'Gratitudes sent' | translate">
              <mat-icon class="loading__icon ranking__extra-icon--out">call_made</mat-icon>
              <span class="loading__text loading__text--micro">{{result.gratitudesSent || 0}}</span>
            </span>

          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>
