@import '../../styles/index';

@include ranking();
@include remaining-wrapper();

:host {
  @include host(true);
}

mat-form-field {
  display: block;
}
mat-card,
mat-accordion {
  margin-bottom: 40px;
  display: block;

  &.relative {
    position: relative;
  }
}
mat-card-actions {
  text-align: right;
}

.no-active-poll {
  padding: 14px 0 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  opacity: .6;

  mat-icon {
    vertical-align: middle;
    line-height: 0.84em;
    margin-left: 4px;
  }

  &--sub {
    padding-top: 0;
    margin-top: -10px;
    font-size: 16px;
  }
}

.previous {
  color: #333333;
  display: flex;
  align-items: center;
  width: 100%;

  eth-kudos-blockie {
    display: inline-block;
    vertical-align: middle;
  }

  &__number {
    font-family: 'Roboto Mono';
    padding-left: 14px;
    padding-right: 34px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    opacity: .7;
  }

  mat-icon {
    vertical-align: middle;
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    opacity: .7;
    width: 24px;
    position: relative;
    text-align: center;
    top: 1px;
    margin-right: 8px;
  }

  &__date {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 1px;
  }

  &__right {
    margin-left: auto;
    font-size: 16px;
    color: #666666;
  }
  &__my-kudos {
    display: inline-block;
    font-size: 16px;
    padding-left: 4px;
    color: #222222;

    &-symbol {
      padding-left: 2px;
      font-size: 12px;
      opacity: .6;
    }
  }
}

.active-poll {
  eth-kudos-blockie {
    display: block;
    margin-right: 12px;
  }
  mat-card-title {
    position: relative;
    top: 2px;
  }
  mat-card-subtitle {
    margin-bottom: 0;
  }
}
