<div class="side">
  <mat-card
    *ngIf="getActivePollContract$ | async as activePollContract"
    routerLink="./active"
    class="active-poll relative pointer">

    <mat-card-header>
      <eth-kudos-blockie [address]="activePollContract.address" variant="card" mat-card-avatar></eth-kudos-blockie>
      <mat-card-title translate>Active polling</mat-card-title>
      <mat-card-subtitle class="bp-l">
        {{'MEMBERS_LONG' | translate : {NUMBER: (getActivePollMembersNumber$ | async)} }}
      </mat-card-subtitle>
      <mat-card-subtitle class="bp-s">
        {{'MEMBERS_SHORT' | translate : {NUMBER: (getActivePollMembersNumber$ | async)} }}
      </mat-card-subtitle>
    </mat-card-header>

    <div class="remaining-wrapper">
      {{'Remaining' | translate}}

      <code class="remaining">
        {{(getActivePollRemainingKudos$ | async) || 0}}<span class="remaining__symbol">{{(token$ | async)?.symbol}}</span>
      </code>
    </div>
  </mat-card>

  <div class="no-active-poll" *ngIf="!(getActivePollContract$ | async)">
    <mat-icon>not_interested</mat-icon>
    {{'No active poll' | translate}}
  </div>

  <div class="no-active-poll no-active-poll--sub" *ngIf="!(getActivePollContract$ | async)">
    <span *ngIf="imOwner$ | async">
      {{'You can open a new polling.' | translate}}
      <button mat-button routerLink="./admin">{{'go to admin' | translate}}</button>
    </span>
    <span *ngIf="!(imOwner$ | async)">
      {{'The owner can create a new one.' | translate}}
    </span>
  </div>

  <h2 class="heading" *ngIf="getPreviousPollsContracts$ | async" translate>Previous polls</h2>

  <mat-accordion *ngIf="getPreviousPollsContracts$ | async as previousPollsContracts">
    <mat-expansion-panel
      class="pointer"
      *ngFor="let poll of previousPollsContracts; trackBy: trackContracts"
      [routerLink]="['./closed', poll.address]"
      [hideToggle]="true"
      [disabled]="true">

      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="previous">

            <eth-kudos-blockie [address]="poll.address"></eth-kudos-blockie>

            <span class="previous__number">#{{poll.i + 1 | number : '2.0-0'}}</span>

            <mat-icon class="bp-l">date_range</mat-icon>

            <span class="previous__date bp-l">{{'AT_DATE' | translate : {DATE: (poll.creation | date : 'short')} }}</span>

            <div class="previous__right" *ngIf="poll.kudos">
              {{'Gratified' | translate}}
              <code class="previous__my-kudos">
                {{poll.kudos}}<!--
             --><span class="previous__my-kudos-symbol">{{(token$ | async)?.symbol}}</span>
              </code>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="side" *ngIf="(getBalances$ | async) && (getBalances$ | async)?.length !== 0">
  <h2 class="heading" translate>Most awarded</h2>

  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let balance of getBalances$ | async; let i = index; trackBy: trackMember"
      [hideToggle]="true"
      [disabled]="true">

      <mat-expansion-panel-header>
        <mat-panel-title class="ranking-wrapper">
          <div class="ranking" [attr.data-n]="i + 1">
            <span class="ranking__balance-wrapper">
              <span class="ranking__balance">{{balance.balance}}<code>{{(token$ | async)?.symbol}}</code></span>
            </span>

            <eth-kudos-blockie [address]="balance.member"></eth-kudos-blockie>

            <span class="ranking__name">{{balance.name}}</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>
