@import '../../styles/index';

$size: 26px;
$size-prefix: 20px;
$size-big: 30px;

:host {
  line-height: 0;
}

.blockie {
  background-size: cover;
  border-radius: $size / 2;
  display: inline-block;
  height: $size;
  width: $size;
  min-width: $size;
  vertical-align: middle;
  position: relative;
  background-image: linear-gradient(120deg, #0a3518 0%, #002e2d 100%);
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .1);

  &--big {
    border-radius: $size-big / 2;
    height: $size-big;
    width: $size-big;
    min-width: $size-big;
    top: 0;
    margin: 0;
    box-shadow: inset 0 -1px 1px 1px rgba(0, 0, 0, .2);
  }
  &--prefix {
    @include transition;

    margin-right: 12px;
    margin-bottom: 4px;
    border-radius: $size-prefix / 2;
    height: $size-prefix;
    width: $size-prefix;
    min-width: $size-prefix;
  }
  &--hidden {
    margin-right: 0;
    height: 0;
    width: 0;
    min-width: 0;
  }

  mat-icon {
    $icon-size: 15px;

    user-select: none;
    position: absolute;
    font-size: 16px;
    width: $icon-size;
    height: $icon-size;
    border-radius: $icon-size / 2;
    line-height: $icon-size + 1px;
    right: -4px;
    bottom: -4px;
    color: #333333;
    text-shadow:
      -1px -2px 0 #ffffff,
      -0px -2px 0 #ffffff,
       1px -2px 0 #ffffff,
       2px -2px 0 #ffffff,
      -2px -1px 0 #ffffff,
      -2px -0px 0 #ffffff,
      -2px  1px 0 #ffffff,
      -2px  2px 0 #ffffff;
  }
}
