<mat-card class="help-card-provider" *ngIf="(status$ | async) === 'no-provider'" @cardInOut>
  <h3>Start using EthKudos using Metamask</h3>
  <h4>EthKudos works on Ethereum network, Metamask is a bridge between Ethereum and dapps like EthKudos</h4>

  <div class="metamask-logo-wrapper">
    <div class="metamask-logo" #metamaskLogo></div>

    <a
      [href]="metamaskInstallationLink"
      target="_blank"
      rel="noopener"
      (click)="metamaskInstallationClicked = true"
      *ngIf="!metamaskInstallationClicked">

      <button mat-raised-button color="primary">Install MetaMask</button>
    </a>

    <button mat-raised-button color="primary" *ngIf="metamaskInstallationClicked" (click)="reload()">I've installed MetaMask</button>
  </div>
</mat-card>

<mat-card class="help-card-account" *ngIf="(status$ | async) === 'no-account'" @cardInOut>
  <h3>Your MetaMask is locked</h3>
  <h4>Simply open MetaMask and follow the instructions to unlock it</h4>
</mat-card>

<mat-card class="help-card-network" *ngIf="(status$ | async) === 'no-network'" @cardInOut>
  <h3>Oops, you’re on the wrong network</h3>
  <h4>Simply open MetaMask and switch <br> over to the <strong>Ropsten Ethereum Network</strong>.</h4>

  <div class="metamask-image-wrapper">
    <img class="metamask-image" src="assets/metamask-network.png" [attr.alt]="'MetaMask network selector' | translate">
    <div class="metamask-image__circle metamask-image__circle--n1"></div>
    <div class="metamask-image__circle metamask-image__circle--n2"></div>
  </div>
</mat-card>

<mat-card class="help-card-account" *ngIf="(status$ | async) === 'timeout'" @cardInOut>
  <h3>Your MetaMask has hung</h3>
  <h4>Try reloading MetaMask extension or restaring the browser.</h4>
</mat-card>
