mat-card {
  overflow: hidden;
  max-width: 488px;
  margin: auto;
  width: 100%;
  box-sizing: border-box;

  a {
    @incldue transition;

    color: #3f51b5;
    text-decoration: none;

    &:hover {
      opacity: .8;
    }
  }
  h3 {
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    margin-top: 0;
  }
  h4 {
    font-weight: 300;
    margin-top: -10px;
    color: #666666;

    strong {
      font-weight: 400;
      color: #555555;
    }
  }
  mat-form-field {
    width: 100%;
  }
  mat-checkbox {
    display: block;
    margin-top: 6px;
  }
}

button.center {
  display: table;
  margin: auto;
}

.metamask-logo {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    margin: auto;
  }
}

.metamask-image {
  display: block;
  margin: auto;
  order: 1px solid rgba(0, 0, 0, .15);
  padding-top: 2px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);

  &-wrapper {
    position: relative;
    margin-top: 30px;
  }

  &__circle {
    position: absolute;
    left: 50%;
    width: 80px;
    height: 80px;
    border: 5px solid rgba(234, 234, 234, 0.6);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0);
    opacity: 0;
    animation: circle-animation infinite 6s linear;

    &--n1 {
      top: 20px;
      margin-left: -92px;
    }
    &--n2 {
      top: 120px;
      margin-left: 0px;
      animation-delay: 2s;
    }
  }
}

@keyframes circle-animation {
  0%,
  25%,
  100% {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.8);
  }
  12.5% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale(1.2);
  }
}
