@import '~@angular/material/theming';
@import '../../../styles/index';

:host {
  display: block;
  flex: 1;

  * {
    box-sizing: border-box;
  }
}

.container {
  padding-top: $landing-header-size;

  .header-bg {
    @include transition(slow);

    background: #666666;
    height: 0;
  }
  &--visible .header-bg {
    height: 400px;
  }
  .content-wrapper {
    padding: 0 40px 40px;

    @media (max-width: 600px) {
      padding: 0 20px 20px;
    }
    @media (max-width: 500px) {
      padding: 0 0 20px;
    }
  }
  .content {
    $base-delay: .3s;

    max-width: 900px;
    margin: auto;
    background: $background;
    position: relative;
    margin-top: 40px;
    opacity: 0;
    transition:
      opacity .4s ease $base-delay,
      margin-top .7s ease $base-delay;

    h1 {
      font-weight: 300;
      font-size: 40px;
      color: #ffffff;
      margin: 0;
      text-shadow: 0 1px 3px rgba(0, 0, 0, .8);
      height: 0;
      position: relative;
      padding: 0px 40px;
      top: -72px;
      opacity: 0;
      transition: all .4s ease ($base-delay + .3s);

      @media (max-width: 500px) {
        text-align: center;
      }
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      height: 240px;
      box-shadow: 0 0 5px rgba(0, 0, 0, .1);
      transition: all .6s ease ($base-delay + .4s);
    }
    .content-box {
      padding: 40px 40px 0;
      position: relative;
      background-color: $background;
      background-image: linear-gradient(to bottom, #ffffff 40px, rgba(#ffffff, 0) 240px);
      display: block;
      min-height: 260px;

      @media (max-width: 460px) {
        padding: 40px 20px 0;
      }

      &--content-style {
        color: #666666;
        font-weight: 400;

        a {
          @incldue transition;

          color: #3f51b5;
          text-decoration: none;

          &:hover {
            opacity: .8;
          }
        }

        h2 {
          font-size: 24px;

          &:first-child {
            margin-top: 0;
          }
        }
        h3 {
          font-size: 18px;
        }
        h2,
        h3 {
          color: #333333;
        }
        h2 {
          font-weight: 300;
        }
        h3 {
          font-weight: 400;
        }
      }
    }
  }
  &--visible .content {
    margin-top: -200px;
    opacity: 1;

    &:before {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    }
    h1 {
      opacity: 1;
    }
  }
}
