@import '~@angular/material/theming';
@import '../../styles/index';

:host {
  position: relative;
  margin: auto;
  display: block;
}

$small-size: 280;
$container-size: 380;
$break-small: 900px;

:host,
.graph {
  width: $container-size * 1px;
  height: $container-size * 1px;

}

.graph {
  @media (max-width: $break-small) {
    $ratio: $small-size / $container-size;

    transform: scale($ratio);
  }
}

@media (max-width: $break-small) {
  :host {
    width: $small-size * 1px;
    height: $small-size * 1px;
  }
  .graph {
    $ratio: $small-size / $container-size;
    $margin: ($container-size - $small-size) / 2;

    transform: scale($ratio);
    position: relative;
    top: $margin * -1px;
    left: $margin * -1px;
  }
}

.graph--large {
  height: 100%;
  width: 100%;
  transform: initial;
}

.tooltip-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tooltip {
  $base-transform: translateY(-100%);

  @include mat-elevation(4);

  position: absolute;
  min-width: 200px;
  transform: translateX(-50%) translateY(-100%);
  margin-top: -20px;
  z-index: 2;
  padding: 8px 12px;
  background: #ffffff;
  color: #666666;
  border-radius: 3px;
  pointer-events: none;
  white-space: nowrap;
  font-weight: 300;
  text-align: center;
  display: none;

  &--visible {
    display: table;
  }

  * {
    z-index: 3;
    position: relative;
  }

  &__text {
    padding-top: 10px;
  }
  &__footer {
    opacity: .7;
  }

  strong {
    font-weight: 400;
    color: #333;
  }
  code span {
    color: #444;
    font-size: .7em;
    opacity: .7;
    padding-left: 2px;
  }

  &:before {
    $size: 18px;

    content: '';
    height: $size;
    width: $size;
    background: #ffffff;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: ($size / -2) - 3px;
    margin-left: $size / -2;
    transform: rotate(45deg);
    border-bottom-right-radius: 2px;
    box-shadow: 3px 3px 10px -4px rgba(#000000, .8);
  }

  @mixin offset($n) {
    transform: $base-transform translateX($n * -10%);

    &:before {
      left: $n * 10%;
    }
  }

  // for landing
  @media (min-width: 800px) and (max-width: 1300px) {
    &--r-10 {@include offset(9)}
    @for $i from 8 through 9 {
      &--r-#{$i} {
        @include offset($i);
      }
    }
  }

  @media (max-width: 640px) {
    &--r-10 {@include offset(9)}
    &--r-0 {@include offset(1)}

    @for $i from 1 through 9 {
      &--r-#{$i} {
        @include offset($i);
      }
    }
  }
}
