<div
  [style.left.px]="(edgeHoverBuffer$ | async)?.x"
  [style.top.px]="(edgeHoverBuffer$ | async)?.y"
  class="tooltip tooltip--edge"
  [class.tooltip--visible]="edgeHover$ | async">

  <div class="tooltip__header">
    <div>
      <strong>{{(edgeHoverBuffer$ | async)?.targetMember?.name}}</strong>
      received
      <code>{{(edgeHoverBuffer$ | async)?.data?.kudos}}<span>KUDOS</span></code>
    </div>
  </div>
  <div class="tooltip__text">{{(edgeHoverBuffer$ | async)?.data?.message}}</div>
  <div class="tooltip__footer">
    from
    <strong>{{(edgeHoverBuffer$ | async)?.sourceMember?.name}}</strong>
  </div>
</div>

<div class="graph" #graph></div>
