<div class="tooltip-wrapper">
  <div
    [style.left.%]="(edgeHoverBuffer$ | async)?.x"
    [style.top.%]="(edgeHoverBuffer$ | async)?.y"
    class="
      tooltip
      {{large ? 'tooltip--large' : ''}}
      tooltip--edge
      tooltip--rx-{{(edgeHoverBuffer$ | async)?.rX}}
      tooltip--ry-{{(edgeHoverBuffer$ | async)?.rY}}
    "
    [class.tooltip--visible]="edgeHover$ | async">

    <div class="tooltip__header">
      <strong [class.address]="!((edgeHoverBuffer$ | async)?.targetMember?.name)">
        {{(edgeHoverBuffer$ | async)?.targetMember?.name || (edgeHoverBuffer$ | async)?.targetMember?.address}}
      </strong>
      {{'received' | translate}}
      <code>{{(edgeHoverBuffer$ | async)?.data?.kudos | number : '.0-' + (decimals || 2)}}<span>{{symbol || 'KUDOS'}}</span></code>
    </div>
    <div class="tooltip__text">{{(edgeHoverBuffer$ | async)?.data?.message}}</div>
    <div class="tooltip__footer">
      {{'from' | translate}}
      <strong [class.address]="!(edgeHoverBuffer$ | async)?.sourceMember?.name">
        {{(edgeHoverBuffer$ | async)?.sourceMember?.name || (edgeHoverBuffer$ | async)?.sourceMember?.address}}
      </strong>
    </div>
  </div>

  <div
    [style.left.%]="(nodeHoverBuffer$ | async)?.x"
    [style.top.%]="(nodeHoverBuffer$ | async)?.y"
    class="
      tooltip
      {{large ? 'tooltip--large' : ''}}
      tooltip--node
      tooltip--rx-{{(nodeHoverBuffer$ | async)?.rX}}
      tooltip--ry-{{(nodeHoverBuffer$ | async)?.rY}}
    "
    [class.tooltip--visible]="nodeHover$ | async">

    <div class="tooltip__header">
      <strong [class.address]="!((nodeHoverBuffer$ | async)?.data?.name)">
        {{(nodeHoverBuffer$ | async)?.data?.name || (nodeHoverBuffer$ | async)?.data?.address}}
      </strong>
      {{'has' | translate}}
      <code>{{(nodeHoverBuffer$ | async)?.data?.kudos | number : '.0-' + (decimals || 2)}}<span>{{symbol || 'KUDOS'}}</span></code>
    </div>
  </div>
</div>

<div
  #graph
  class="graph"
  [class.graph--large]="large">
</div>
