<div class="tooltip-wrapper">
  <div
    [style.left.%]="(edgeHoverBuffer$ | async)?.x"
    [style.top.%]="(edgeHoverBuffer$ | async)?.y"
    class="
      tooltip
      tooltip--{{large ? 'large' : ''}}
      tooltip--edge
      tooltip--rx-{{(edgeHoverBuffer$ | async)?.rX}}
      tooltip--ry-{{(edgeHoverBuffer$ | async)?.rY}}
    "
    [class.tooltip--visible]="edgeHover$ | async">

    <div class="tooltip__header">
      <strong>{{(edgeHoverBuffer$ | async)?.targetMember?.name}}</strong>
      {{'received' | translate}}
      <code>{{(edgeHoverBuffer$ | async)?.data?.kudos | number : '.0-' + (decimals || 2)}}<span>{{symbol || 'KUDOS'}}</span></code>
    </div>
    <div class="tooltip__text">{{(edgeHoverBuffer$ | async)?.data?.message}}</div>
    <div class="tooltip__footer">
      {{'from' | translate}}
      <strong>{{(edgeHoverBuffer$ | async)?.sourceMember?.name}}</strong>
    </div>
  </div>

  <div
    [style.left.%]="(nodeHoverBuffer$ | async)?.x"
    [style.top.%]="(nodeHoverBuffer$ | async)?.y"
    class="
      tooltip
      tooltip--{{large ? 'large' : ''}}
      tooltip--node
      tooltip--rx-{{(nodeHoverBuffer$ | async)?.rX}}
      tooltip--ry-{{(nodeHoverBuffer$ | async)?.rY}}
    "
    [class.tooltip--visible]="nodeHover$ | async">

    <div class="tooltip__header">
      <strong>{{(nodeHoverBuffer$ | async)?.data?.name}}</strong>
      {{'has' | translate}}
      <code>{{(nodeHoverBuffer$ | async)?.data?.kudos | number : '.0-' + (decimals || 2)}}<span>{{symbol || 'KUDOS'}}</span></code>
    </div>
  </div>
</div>

<div
  #graph
  class="graph"
  [class.graph--large]="large">
</div>
