<div class="container" [class.container--visible]="visible">
  <div class="header-bg"></div>

  <div class="content-wrapper">
    <div class="content">
      <h1>Privacy Policy</h1>

      <div class="content-box content-box--content-style">

        <h2>Information Collection</h2>

        <h3>Information We Do Collect</h3>
        <p>
          We also collect basic analytics information when you use the App.
          This sort of information may be collected from third-party providers like Google
          Analytics, and includes, among other things, the type of device you use,
          access times, IP address, hardware model, operating system and version, and other
          unique device identifiers. Some of these third-party providers may place cookies
          or pixels - small data files stored on your hard drive or in device memory - on
          your browser or hard drive. Note that this Policy does not cover the use of cookies
          or pixels by such third parties. Most web browsers are set to accept cookies and
          pixels by default, but you can usually set your browser to remove or reject browser
          cookies or pixels. If you do choose to remove or reject cookies or pixels, however,
          your ability to use the App might be affected.
        </p>

        <h3>Information We Don’t Collect</h3>
        <p>
          We do not collect any other personally-identifiable information about you,
          unless you give it to us directly: giving us written feedback, communicating
          with us via third-party social media sites,
          or otherwise communicating with us via the App or any other means. We do not collect
          any payment information from you, we don't store your Ethereum address and we don't
          send it to third-party providers.
        </p>

        <h2>Information Usage</h2>

        <h3>What We Do With Information We Collect</h3>
        <p>We use the information we collect in the following ways:</p>
        <ul>
          <li>To analyze trends for how the App is being used;</li>
          <li>To improve the App;</li>
          <li>To help personalize your experience of the App; and</li>
          <li>
            If you gave us your contact information, we will use it to send you data as part
            of making the App available to you. We may also use that information to contact you
            to send you technical notices, updates, confirmations, security alerts, to provide
            support to you, to tell you about other products and services that we think might interest
            you, or to respond to your comments or questions.
          </li>
        </ul>

        <h3>What We Don’t Do With Information We Collect</h3>
        <p>
          We do not share any information that directly identifies you with any third party,
          except in the following limited cases:
        </p>
        <ul>
          <li>As required to comply with applicable law or regulation, or to comply with law enforcement;</li>
          <li>To respond to claims and/or legal process;</li>
          <li>To protect our rights or our property, or to enforce our terms of service; </li>
          <li>To prevent behavior that is (or that we think may be) illegal or unethical;</li>
          <li>With your consent, or at your request or direction; or</li>
          <li>As otherwise set forth in this Policy.</li>
        </ul>

        <h2>Information Security</h2>
        <p>
          We take safeguarding your information seriously. We will take reasonable administrative, physical,
          and electronic measures to help protect your information from loss, theft, misuse, unauthorized access,
          disclosure, alteration or destruction. All that said, no method of transmitting or storing information
          over the Internet is completely secure. With that in mind, we cannot guarantee the absolute security
          of your information.
        </p>

        <h2>Contact Us</h2>
        <p>By contacting us at <a href="mailto:hello@eth-kudos.com" target="_blank" rel="noopener">hello@eth-kudos.com</a>, you can:</p>
        <ul>
          <li>See what information we have about you, if any;</li>
          <li>Change/correct any personal data we have about you;</li>
          <li>
            Have us delete any personal data we have about you (we will do our best to do so, but we may
            have to keep certain data as required by law, to comply with this Policy, or pursuant to our
            normal caching procedures);
          </li>
          <li>Opt out of receiving promotional communications from us; or</li>
          <li>Ask questions or provide feedback on this Policy generally, or the use of your information.</li>
        </ul>

      </div>
    </div>
  </div>
</div>

