:host {
  max-width: 600px;
  display: block;
  margin: auto;
}

mat-form-field {
  display: block;
}
mat-card,
mat-accordion {
  margin-bottom: 40px;
  display: block;

  &.relative {
    position: relative;
  }
}
mat-card-actions {
  text-align: right;
}

.previous {
  color: #333333;

  eth-kudos-blockie {
    display: inline-block;
    vertical-align: middle;
  }

  &__number {
    font-family: 'Roboto Mono';
    padding-left: 8px;
    padding-right: 24px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
  }

  mat-icon {
    vertical-align: middle;
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    opacity: .7;
    width: 20px;
    position: relative;
    top: 2px;
  }

  &__date {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 2px;
  }
}

.remaining {
  font-size: 20px;
  display: block;

  &__symbol {
    padding-left: 4px;
    font-size: 12px;
    opacity: .7;
  }

  &-wrapper {
    text-align: right;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}

.ranking {
  padding: 8px 0;
  color: #333;

  eth-kudos-blockie {
    vertical-align: middle;
    margin-right: 8px;
    display: inline-block;
  }

  &__balance {
    font-family: 'Roboto Mono';
    color: #666666;
    background: #dddddd;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 12.5px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    code {
      opacity: .6;
      padding-left: 2px;
      font-size: .7em;
    }
    &-wrapper {
      min-width: 108px;
      display: inline-block;
      text-align: right;
      margin-right: 16px;
    }
  }
  [data-n='1'] &__balance {
    color: #ffffff;
    background: #cfb53b;
  }
  [data-n='2'] &__balance {
    color: #ffffff;
    background: #b3ccea;
  }
  [data-n='3'] &__balance {
    color: #ffffff;
    background: #a58768;
  }
  &__name {
    font-size: 20px;
    font-weight: 400;
    opacity: .8;
    padding-top: 2px;
    display: inline-block;
    vertical-align: middle;
  }
  [data-n='1'] &__name,
  [data-n='2'] &__name,
  [data-n='3'] &__name {
    opacity: 1;
  }
}

.active-poll {
  eth-kudos-blockie {
    display: block;
    margin-right: 12px;
  }
  mat-card-title {
    margin-top: 2px;
  }
  mat-card-subtitle {
    margin-bottom: 0;
  }
}
