@import '../../../styles/index';

:host {
  $padding: 0px;

  display: block;
  position: absolute;
  top: $padding;
  left: $padding;
  right: $padding;
  bottom: $padding;
  width: calc(100% - #{$padding * 2});
  height: calc(100% - #{$padding * 2});
}

eth-kudos-graph {
  height: 100%;
  width: 100%;
}

button {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #666666;
  cursor: pointer;
  z-index: 2;
}

.loading-message {
  position: absolute;
  top: 50%;
  text-align: center;
  padding: 0 20px;
  width: 100%;
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: 300;
  opacity: .5;
  box-sizing: border-box;
  z-index: 2;

  @media (max-width: 800px) {
    font-size: 20px;
  }
  @media (max-width: 500px) {
    font-size: 16px;
  }
  @media (max-width: 380px) {
    font-size: 14px;
  }
}

mat-button-toggle-group {
  @include transition;

  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;

  &.disabled {
    opacity: .7;
    pointer-events: none;
  }
}

eth-kudos-graph {
  transition: opacity .6s ease .5s;
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}
