<mat-button-toggle-group value="circle" (change)="setLayout($event.value)" [class.disabled]="!loaded">
  <mat-button-toggle value="circle" matTooltip="Circle graph">
    <mat-icon>cached</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="cose" matTooltip="COSE graph">
    <mat-icon>compare_arrows</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>

<button
  mat-icon-button
  [routerLink]="['../../', 'closed', (kudosToken$ | async)?.address]">

  <mat-icon>close</mat-icon>
</button>

<div *ngIf="!loaded" class="loading-message" translate>Getting all the data to generate the graph...</div>

<eth-kudos-graph
  #graph
  [large]="true"
  [nodes]="gratitudesNodes$ | async"
  [edgesList]="gratitudesEdges$ | async"
  [symbol]="(kudosToken$ | async)?.symbol"
  [decimals]="(kudosToken$ | async)?.decimals">
</eth-kudos-graph>
