:host {
  $padding: 0px;

  display: block;
  position: absolute;
  top: $padding;
  left: $padding;
  right: $padding;
  bottom: $padding;
  width: calc(100% - #{$padding * 2});
  height: calc(100% - #{$padding * 2});
}

eth-kudos-graph {
  height: 100%;
  width: 100%;
}

button {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #666666;
  cursor: pointer;
  z-index: 2;

}
