@import '../../../styles/index';

@include gratitude-card();

:host {
  @include host(true);
}

mat-form-field {
  display: block;
}
mat-card,
mat-accordion {
  margin-bottom: 40px;
  display: block;

  &.relative {
    position: relative;
  }
}
mat-card-actions {
  text-align: right;
}

[disabled] {
  position: relative;
  overflow: hidden;

  mat-progress-bar.on-disabled {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.remaining {
  font-size: 20px;
  display: block;

  &__symbol {
    padding-left: 4px;
    font-size: 12px;
    opacity: .7;
  }

  &-wrapper {
    text-align: right;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}

.kudos-input {
  input {
    text-align: right;
  }
}
.symbol-suffix {
  opacity: .7;
  font-size: .8em;
}

.select-contact {
  display: flex;
  align-items: center;

  &__info {
    line-height: 18px;
    padding-left: 2px;
    overflow: hidden;
  }
  &__name {
    font-size: 14px;
  }
  &__account {
    font-family: "Roboto Mono";
    opacity: .7;
    font-size: 12px;

    &:before {
      content: attr(data-address);
    }
  }
  &__name,
  &__account {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.warning {
  opacity: .7;
  padding-bottom: 6px;
  font-size: 14px;

  mat-icon.mat-icon {
    opacity: .7;
    font-size: 16px;
    height: 14px;
    width: 20px;
    position: relative;
    top: 2px;
  }
}

.gratitude:not(:last-child) {
  margin-bottom: 20px;
}
