<div class="side" *ngIf="activePoll$ | async as activePoll">
  <mat-card class="active-poll relative">
    <mat-card-header>
      <eth-kudos-blockie [address]="activePoll.address" variant="card" mat-card-avatar></eth-kudos-blockie>
      <mat-card-title translate>Active polling</mat-card-title>
      <mat-card-subtitle [class.loading]="!activePoll?.members || !activePoll?.minDeadline">
        <div class="icon-block">
          <mat-icon class="loading__icon">person</mat-icon>
          <span class="loading__text loading__text--short">
            {{'MEMBERS_SHORT' | translate : {NUMBER: activePoll?.members?.length || ''} }}
          </span>
        </div>
        <div class="icon-block bp-l" *ngIf="activePoll?.canBeClosed" [matTooltip]="'The owner can close the polling at any time' | translate">
          <mat-icon class="loading__icon">timer</mat-icon>
          <span class="loading__text loading__text--short" translate>Can be closed</span>
        </div>
        <div
          class="icon-block bp-l"
          [matTooltip]="'CLOSABLE_REMAINING_DATE_LONG' | translate : {DATE: (activePoll?.minDeadline | date : 'short') || ''}"
          *ngIf="!activePoll?.canBeClosed">

          <mat-icon class="loading__icon">timer</mat-icon>
          <span class="loading__text loading__text--short">
            {{'CLOSABLE_REMAINING_DATE' | translate : {DATE: (activePoll?.minDeadline | date : 'short') || ''} }}
          </span>
        </div>
      </mat-card-subtitle>
    </mat-card-header>

    <div class="remaining-wrapper" *ngIf="(kudosToken$ | async)?.imMember" [class.loading]="!activePoll.myBalance && activePoll.myBalance !== 0">
      <span class="loading__text loading__text--short">{{'Remaining' | translate}}</span>

      <code class="loading__text loading__text--shorter loading__text--auto-left remaining">
        {{activePoll?.myBalance || 0 | number}}<span class="remaining__symbol">{{(kudosToken$ | async)?.symbol}}</span>
      </code>
    </div>
  </mat-card>

  <form #rewardForm="ngForm" novalidate *ngIf="activePoll.imMember">
    <mat-card [attr.disabled]="reward.working" class="relative">
      <mat-progress-bar class="on-disabled" mode="indeterminate"></mat-progress-bar>

      <mat-card-header>
        <mat-card-title translate>Send gratitudes</mat-card-title>
        <mat-card-subtitle>
          {{ 'SEND_KUDOS_AND_GRATITUDES' | translate : {SYMBOL: (kudosToken$ | async)?.symbol || ''} }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-form-field class="input-address">
        <eth-kudos-blockie matPrefix [address]="reward.member" variant="prefix"></eth-kudos-blockie>
        <mat-select
          [(ngModel)]="reward.member"
          name="rewardMember"
          [placeholder]="'Member' | translate"
          required>

          <mat-option
            *ngFor="let contact of getOtherMembers$ | async"
            [value]="contact.member">

            <div class="select-contact">
              <eth-kudos-blockie [address]="contact.member" variant="prefix"></eth-kudos-blockie>

              <div class="select-contact__info" *ngIf="contact.name">
                <div class="select-contact__name">{{contact.name}}</div>
                <div class="select-contact__account" [attr.data-address]="contact.member"></div>
              </div>
              <div class="select-contact__info" *ngIf="!contact.name">
                <div class="select-contact__account">{{contact.member}}</div>
              </div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [(ngModel)]="reward.message"
          type="text"
          name="rewardMessage"
          [placeholder]="'Message of gratitude' | translate"
          required>
      </mat-form-field>

      <div class="input-and-selector">
        <mat-form-field class="input-address kudos-input">
          <input
            matInput
            #rewardInput
            [ngModel]="reward.kudos"
            (blur)="setRewardKudos($event.target)"
            (change)="setRewardKudosType($event.target.value)"
            (click)="setRewardKudosType($event.target.value)"
            (keyup)="setRewardKudosType($event.target.value)"
            type="number"
            [max]="maxKudosInput"
            [min]="0"
            [step]="tokenStep"
            name="rewardKudos"
            [placeholder]="'HOW_MANY_KUDOS_SEND'  | translate : {SYMBOL: (kudosToken$ | async)?.symbol || ''}"
            required>
          <span class="symbol-suffix" matSuffix>{{(kudosToken$ | async)?.symbol}}</span>
        </mat-form-field>

        <mat-button-toggle-group
          [(value)]="suggested"
          (change)="setSuggestedReward($event.value)"
          *ngIf="tokenDecimals !== 0 || maxKudos !== 1">

          <mat-button-toggle value="custom" [matTooltip]="'Free amount' | translate">
            <mat-icon>edit</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [value]=".1" [matTooltip]="'Small gratitude' | translate">
            <mat-icon>star_border</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [value]=".25" [matTooltip]="'Good gratitude' | translate" *ngIf="tokenDecimals !== 1 || maxKudos !== 1">
            <mat-icon>star_half</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [value]=".5" [matTooltip]="'Big gratitude' | translate">
            <mat-icon>star</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle class="multi-star" [value]="1" [matTooltip]="'Maximum gratitude' | translate">
            <mat-icon>star</mat-icon><!--
         --><mat-icon>star</mat-icon><!--
         --><mat-icon>star</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <span class="warning">
        <mat-icon>warning</mat-icon>
        {{'Gratitudes will be visible to all the members' | translate }}
      </span>

      <mat-card-actions>
        <button mat-button (click)="rewardForm.reset()" type="button">{{'Clear' | translate}}</button>
        <button
          mat-button
          color="primary"
          type="button"
          [disabled]="!rewardForm.valid"
          (click)="sendReward(rewardForm)">

          {{'Send gratitudes' | translate}}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>

<div class="side" *ngIf="(myGratitudesSent$ | async)?.length">
  <h2 class="heading" translate>Gratitudes sent</h2>

  <mat-card
    *ngFor="let gratitude of myGratitudesSent$ | async; let last = last; trackBy: trackGratitude"
    [class.half-margin]="!last"
    class="gratitude">

    <mat-card-header>
      <eth-kudos-blockie [address]="gratitude.to" variant="card" mat-card-avatar></eth-kudos-blockie>
      <mat-card-title *ngIf="gratitude.toName">
        {{gratitude.toName}}
        <span translate>is going to receive:</span>
      </mat-card-title>
      <mat-card-title *ngIf="!gratitude.toName">
        <code>{{gratitude.to}}</code>&nbsp;
        <span translate>is going to receive:</span>
      </mat-card-title>
      <mat-card-subtitle>{{gratitude.message}}</mat-card-subtitle>
    </mat-card-header>

    <span class="gratitude__kudos">
      {{gratitude.kudos}}<span>{{(kudosToken$ | async)?.symbol}}</span>
    </span>
  </mat-card>
</div>
