<div class="container" [class.container--visible]="visible">
  <div class="header-bg"></div>

  <div class="content-wrapper">
    <div class="content">
      <h1>About</h1>

      <div class="content-box content-box--content-style">

        <h2>EthKudos is a non-for-profit dapp to manage a kudos system.</h2>

        <h3>
          <a href="https://www.linkedin.com/in/pedrogp/" target="_blank">Pedro Gutiérrez Puente</a>
          built the EthKudos app as an Open Source app.
        </h3>

        <p>
          EthKudos is a privately funded and independent project. We are open to collaboration
          with others when it is a good match for both parties, but what makes us
          successful is our autonomy &amp; objectivity.
        </p>

        <p>
          The entire project is open-source and available on github:
          <a href="https://github.com/Pedro-vk/EthKudos" target="_blank">https://github.com/Pedro-vk/EthKudos</a>
        </p>

        <p>
          If you need more information about EthKudos, please check our
          <a routerLink="/faqs">FAQs</a>.
        </p>

      </div>
    </div>
  </div>
</div>

