<mat-toolbar [class.visible]="true" class="header header--primary" color="primary">
  <span>{{token?.name}}</span>
  <span>
    <a href="https://github.com/Pedro-vk/EthKudos" target="_blank">
      <button mat-button color="accent">Check on GitHub</button>
    </a>
  </span>
</mat-toolbar>
<mat-toolbar [class.visible]="true" class="header header--secondary" color="accent">
  <div>
    <div class="header__account-wrapper" *ngIf="account$ | async as account">
      <div class="blockie blockie--big" [style.background-image]="getImageOf(account)"></div>
      <div class="header__account" [class.header__account--no-member]="!(imMember$ | async)">
        <span class="header__account-row header__account-row--name">{{(myContact$ | async) || "&nbsp;"}}</span>
        <span class="header__account-row header__account-row--no-member">You are not member</span>
        <span class="header__account-row header__account-row--address">{{account}}</span>
      </div>
    </div>
  </div>
  <div class="header__balance">
    <div class="header__balance-row">
      Account balance:<code> {{((balance$ | async) || 0) | number : '.0-5'}} <span class="symbol">&Xi;</span></code>
    </div>
    <div class="header__balance-row">
      Kudos received:<code> {{((kudosBalance$ | async) || 0) | number : '.0-2'}} <span class="symbol">{{token?.symbol}}</span></code>
    </div>
  </div>
</mat-toolbar>

<div class="container" [class.visible]="true">
</div>
