<mat-toolbar [class.visible]="(status$ | async) === 'total'" class="header header--primary" color="primary">
  <div class="title">
    <button @buttonFade mat-icon-button routerLink="/" *ngIf="currentUrl !== '/'">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button><!--
 --><button @buttonFade mat-icon-button routerLink="/admin" *ngIf="(imOwner$ | async) && currentUrl !== '/admin'">
      <mat-icon>settings</mat-icon>
    </button><!--
 --><span>{{token?.name}}</span>
  </div>
  <span>
    <a href="https://github.com/Pedro-vk/EthKudos" target="_blank" tabindex="-1">
      <button mat-button color="accent">Check on GitHub</button>
    </a>
  </span>
</mat-toolbar>
<mat-toolbar [class.visible]="(status$ | async) === 'total'" class="header header--secondary" color="accent">
  <div>
    <div class="header__account-wrapper" *ngIf="account$ | async as account">
      <eth-kudos-blockie [address]="account" variant="big" noicon></eth-kudos-blockie>
      <div class="header__account" [class.header__account--no-member]="!(imMember$ | async)">
        <span class="header__account-row header__account-row--name">{{(myContact$ | async) || "&nbsp;"}}</span>
        <span class="header__account-row header__account-row--no-member">You are not member</span>
        <span class="header__account-row header__account-row--address">{{account}}</span>
      </div>
    </div>
  </div>
  <div class="header__balance">
    <div class="header__balance-row">
      Account balance:<code> {{((balance$ | async) || 0) | number : '.0-5'}} <span class="symbol">&Xi;</span></code>
    </div>
    <div class="header__balance-row">
      Kudos received:<code> {{((kudosBalance$ | async) || 0) | number : '.0-2'}} <span class="symbol">{{token?.symbol}}</span></code>
    </div>
  </div>
</mat-toolbar>

<mat-toolbar
  class="footer"
  color="accent"
  [class.visible]="(status$ | async) === 'total' && (pendingTransactions$ | async)?.length !== 0">

  <div class="title">
    Pending transactions:
  </div>
  <mat-chip-list>
    <mat-chip
      class="tx"
      (click)="goToEtherscan(transaction.hash)"
      *ngFor="let transaction of pendingTransactions$ | async">

      <mat-icon>open_in_new</mat-icon>
      <span class="tx__hash">{{transaction.hash}}</span>
      <span class="tx__info">
        {{transaction.methodName | titlecase}}
      </span>
    </mat-chip>
  </mat-chip-list>
</mat-toolbar>

<div
  class="container"
  [class.container--footer]="(pendingTransactions$ | async)?.length !== 0"
  [class.visible]="(status$ | async) === 'total'">

  <router-outlet></router-outlet>
</div>

<div class="warning" *ngIf="(status$ | async) === 'no-provider' && !clickedInstallMetaMask" @easeInOut>
  <div class="warning-wrapper">
    <div class="warning__header">
      Wanna Kudos Token?
    </div>
    <div class="warning__message">
      You’ll need a safe place to store all of your tokens and Ether!<br>
      The perfect place is in a secure wallet like MetaMask.<br>
      This will also act as your wallet login.
    </div>
    <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en" target="_blank">
      <button mat-button color="primary" (click)="clickedInstallMetaMask = true">Install MetaMask</button>
    </a>
  </div>
</div>

<div class="warning" *ngIf="(status$ | async) === 'no-provider' && clickedInstallMetaMask" @easeInOut>
  <div class="warning-wrapper">
    <div class="warning__header">
      Finish installing MetaMask to continue
    </div>
    <div class="warning__message">
      Make sure you follow the instructions on MetaMask to finish the installation.
    </div>
    <button mat-button color="primary" (click)="reload()">I've installed MetaMask</button>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/tfETpi-9ORs?rel=0&amp;showinfo=0" frameborder="1" allowfullscreen=""></iframe>
  </div>
</div>


<div class="warning" *ngIf="(status$ | async) === 'no-account'" @easeInOut>
  <div class="warning-wrapper">
    <div class="warning__header">
      Your MetaMask is locked
    </div>
    <div class="warning__message">
      Simply open MetaMask and follow the instructions to unlock it.
    </div>
  </div>
</div>

<div class="warning" *ngIf="(status$ | async) === 'no-network'" @easeInOut>
  <div class="warning-wrapper">
    <div class="warning__header">
      Oops, you’re on the wrong network
    </div>
    <div class="warning__message">
      Simply open MetaMask and switch over to the <strong>Ropsten Ethereum Network</strong>.
    </div>
    <img src="assets/metamask-network.png">
  </div>
</div>
