@import '~@angular/material/theming';
@import './styles/index';

$header---height: 64px !default;
$header--secondary---height: 48px !default;

.header,
.footer,
.container {
  &:not(.visible) {
    display: none;
  }
}

.container {
  position: fixed;
  top: $header---height + $header--secondary---height;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: 1;
  padding: 40px 20px;

  &--footer {
    bottom: $header--secondary---height;
  }
}

.title {
  [mat-icon-button] {
    margin-right: 4px;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;

  &--primary {
    z-index: 3;
    height: $header---height;
  }
  &--secondary {
    z-index: 2;
    top: $header---height;
    height: $header--secondary---height;
    box-shadow: 0 0 12px rgba(0, 0, 0, .3);
  }

  &__account {
    padding-left: 10px;
    vertical-align: middle;
    font-size: 14px;

    &-wrapper {
      display: flex;
    }
    &-row {
      display: block;

      &--no-member,
      &--name {
        line-height: 16px;
        color: #262626;

        @media (max-width: 600px) {
          line-height: 30px;
        }
      }
      &--no-member {
        display: none;
        color: red;
        font-weight: 400;
        opacity: .7;
      }
      &--address {
        font-family: 'Roboto Mono', monospace;
        font-size: 12px;
        line-height: 14px;
        opacity: .6;
      }
    }

    &--no-member &-row--name {
      display: none;
    }
    &--no-member &-row--no-member {
      display: block;
    }

    @media (max-width: 600px) {
      &-row--address {
        display: none;
      }
    }
  }
  &__balance {
    font-size: 12px;
    text-align: right;

    &-row {
      height: ($header--secondary---height - 8px) / 2;
      line-height: ($header--secondary---height - 8px) / 2;
      font-weight: 300;

      code {
        font-family: 'Roboto Mono', monospace;
        font-weight: normal;
      }
      .symbol {
        opacity: .6;
      }
    }
  }
}

.footer {
  @include transition;

  background: #fafafa;
  display: block;
  position: fixed;
  height: $header--secondary---height;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  box-shadow: 0 0 12px rgba(0, 0, 0, .3);
  z-index: 2;
  display: flex;

  &:not(.visible) {
    display: block;
    bottom: -$header--secondary---height;
  }

  .title {
    font-size: 16px;
    font-weight: 400;
    padding-right: 20px;
  }

  mat-chip-list {
    flex: 1;
    overflow: hidden;

    /deep/ .mat-chip-list-wrapper {
      display: flex;
    }
    /deep/ .mat-chip:not(.mat-basic-chip)+.mat-chip:not(.mat-basic-chip) {
      margin-left: 15px;
    }
  }

  .tx {
    font-family: 'Roboto Mono';
    flex: 1;
    overflow: hidden;
    display: flex;
    max-width: 300px;
    font-size: 14px;
    align-items: center;
    color: #444444;
    padding: 4px 5px;
    padding-left: 12px;
    box-shadow: none;
    cursor: pointer;

    mat-icon {
      font-size: 18px;
      height: 18px;
      width: 18px;
      margin-right: 8px;
      opacity: .6;
    }
    &__hash {
      overflow: hidden;
      padding-right: 10px;
      text-overflow: ellipsis;
    }
    &__info {
      display: inline-block;
      padding: 3px 10px;
      border-radius: 12px;
      background: rgba(255, 255, 255, .6);
    }
  }
}

.link {
  color: #2578FF;
  transition: all .3s ease;
  cursor: pointer;

  &:hover {
    opacity: .6;
  }
}

.warning {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  z-index: 10;
  display: flex;
  text-align: center;

  &__header {
    font-size: 46px;
    padding-bottom: 30px;
  }
  &__message {
    font-size: 18px;
    line-height: 1.4em;
  }

  &-wrapper {
    margin: auto;
  }

  button {
    margin: 30px 0;
  }

  iframe {
    margin-top: 40px;
    max-width: 480px;
    display: block;
    margin: auto;
    border: 0;
  }

  img {
    margin-top: 40px;
    order: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 2px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  }
}
