<mat-toolbar [class.visible]="true" class="header header--primary" color="primary">
  <div class="title">
    <button @buttonFade mat-icon-button routerLink="/" *ngIf="currentUrl !== '/'">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button><!--
 --><button @buttonFade mat-icon-button routerLink="/admin" *ngIf="(imOwner$ | async) && currentUrl !== '/admin'">
      <mat-icon>settings</mat-icon>
    </button><!--
 --><span>{{token?.name}}</span>
  </div>
  <span>
    <a href="https://github.com/Pedro-vk/EthKudos" target="_blank" tabindex="-1">
      <button mat-button color="accent">Check on GitHub</button>
    </a>
  </span>
</mat-toolbar>
<mat-toolbar [class.visible]="true" class="header header--secondary" color="accent">
  <div>
    <div class="header__account-wrapper" *ngIf="account$ | async as account">
      <eth-kudos-blockie [address]="account" variant="big" noicon></eth-kudos-blockie>
      <div class="header__account" [class.header__account--no-member]="!(imMember$ | async)">
        <span class="header__account-row header__account-row--name">{{(myContact$ | async) || "&nbsp;"}}</span>
        <span class="header__account-row header__account-row--no-member">You are not member</span>
        <span class="header__account-row header__account-row--address">{{account}}</span>
      </div>
    </div>
  </div>
  <div class="header__balance">
    <div class="header__balance-row">
      Account balance:<code> {{((balance$ | async) || 0) | number : '.0-5'}} <span class="symbol">&Xi;</span></code>
    </div>
    <div class="header__balance-row">
      Kudos received:<code> {{((kudosBalance$ | async) || 0) | number : '.0-2'}} <span class="symbol">{{token?.symbol}}</span></code>
    </div>
  </div>
</mat-toolbar>

<div class="container" [class.visible]="true">
  <router-outlet></router-outlet>
</div>
