<div class="container" id="let's-start">

  <header [class.transparent]="hasChild">
    <h1><span>Eth</span><span class="extra"></span><span class="slim">Kudos</span></h1>

    <div class="header-right-side">
      <div class="organisation" *ngIf="!hasChild && (previousOrganisation$ | async) as org" @cardInOut>
        <eth-kudos-blockie [address]="org.address" variant="big"></eth-kudos-blockie>
        <div class="organisation__info">
          <span class="organisation__name">{{org.organisationName || org.name}}</span>
          <span class="organisation__balance" *ngIf="org.imMember">{{org.myBalance}}<span>{{org.symbol}}</span></span>
          <span class="organisation__not-member" *ngIf="!org.imMember">You are not member</span>
        </div>
        <button mat-button color="primary" [routerLink]="['/', org.address]">access</button>
      </div>

      <a mat-icon-button routerLink="/faqs" matTooltip="FAQs" aria-label="FAQs" data-qa="landing-home-header-faqs">
        <mat-icon>help_outline</mat-icon>
      </a>
    </div>
  </header>

  <nav *ngIf="!showHelp && (hasError$ | async) as error" class="warning" @warning>
    <mat-icon>warning</mat-icon>
    <span *ngIf="error === 'no-provider'" translate>You have not installed MetaMask.</span>
    <span *ngIf="error === 'no-network'" translate>You are not in the correct network.</span>
    <span *ngIf="error === 'no-account'" translate>Your MetaMask is locked.</span>

    <button mat-button (click)="showHelp = true">{{'Solve the error' | translate}}</button>
  </nav>

  <router-outlet></router-outlet>

  <section class="main">

    <div class="main__text">
      <h2>Connecting coworkers</h2>
      <p>
        EthKudos provides an opportunity of gratifying the team collaboration.
      </p>
      <p>
        Each member rewards people who helped him or her,
        <br>
        encouraging and recognizing team cooperation between members.
      </p>
      <p class="main__text-button" *ngIf="(status$ | async) !== 'total' && (status$ | async) !== null && !showHelp" @cardInOut>
        <button mat-raised-button
          color="primary"
          data-qa="landing-home-start-using"
          data-qa-key="section-1"
          (click)="showHelp = true">

          Start using EthKudos
        </button>
      </p>
    </div>

    <div class="main__card" *ngIf="(status$ | async) === 'total'">
      <div *ngIf="!(newOrganisation$ | async)" @cardInOut>
        <mat-card @cardInOut *ngIf="!showCreateForm">
          <h3>Join an organisation</h3>

          <mat-form-field class="input-address">
            <eth-kudos-blockie matPrefix [address]="orgAddress" variant="prefix"></eth-kudos-blockie>
            <input
              matInput
              [(ngModel)]="orgAddress"
              (ngModelChange)="newOrgAddress.next($event)"
              type="text"
              #organisationAddress="ngModel"
              name="organisationAddress"
              placeholder="Organisation address (0x...)"
              pattern="(^0x[0-9a-fA-F]{40}$)?"
              [matAutocomplete]="orgs">
            <mat-error align="end" *ngIf="organisationAddress.errors?.pattern">
              Is not a valid Ethereum address.
            </mat-error>
            <mat-autocomplete #orgs="matAutocomplete">
              <mat-option *ngFor="let org of organisations$ | async" [value]="org">
                <eth-kudos-blockie class="autocomplete-option__blockie" [address]="org"></eth-kudos-blockie>
                <span class="autocomplete-option__text">{{org}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div class="organisation" *ngIf="selectedOrganisation$ | async as org" @cardInOut>
            <eth-kudos-blockie [address]="org.address" variant="big"></eth-kudos-blockie>
            <div class="organisation__info">
              <span class="organisation__name">{{org.organisationName || org.name}}</span>
              <span class="organisation__balance" *ngIf="org.imMember">{{org.myBalance}}<span>{{org.symbol}}</span></span>
              <span class="organisation__not-member" *ngIf="!org.imMember">You are not member</span>
            </div>
            <button mat-button color="primary" [routerLink]="['/', org.address]">open</button>
          </div>
        </mat-card>

        <mat-card @cardInOut *ngIf="showCreateForm" [attr.disabled]="newOrg.working">
          <mat-progress-bar class="on-disabled" mode="indeterminate"></mat-progress-bar>

          <h3>Create your organisation</h3>
          <h4>
            An organization is a
            <a href="https://www.ethereum.org/token" target="_blank" rel="noopener">Ethereum Token</a>
            with a Kudos system
          </h4>

          <form #newOrgForm="ngForm" novalidate>

            <mat-form-field>
              <input
                matInput
                [(ngModel)]="newOrg.organisationName"
                type="text"
                name="orgOrganisationName"
                placeholder="Organisation name"
                required>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                [(ngModel)]="newOrg.name"
                type="text"
                name="orgName"
                placeholder="Token name"
                required>
              <mat-hint align="end">That's the name of your token (kudos)</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                [(ngModel)]="newOrg.symbol"
                type="text"
                name="orgSymbol"
                minlength="3"
                maxlength="8"
                placeholder="Token symbol"
                required>
              <mat-hint align="end">The symbol should look like <code>USD</code>, <code>ETH</code>, <code>BTC</code>...</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                [(ngModel)]="newOrg.decimals"
                type="number"
                [min]="0"
                [max]="8"
                name="orgDecimals"
                placeholder="Token decimals">
              <mat-hint align="end">How many decimals needs your token?</mat-hint>
            </mat-form-field>

            <mat-checkbox
              [(ngModel)]="newOrg.toDirectory"
              name="orgToDirectory"
              color="primary">

              Add to the organisations directory
            </mat-checkbox>

            <div class="organisation organisation--margin" *ngIf="newOrg.organisationName" @cardInOut>
              <eth-kudos-blockie random variant="big"></eth-kudos-blockie>
              <div class="organisation__info">
                <span class="organisation__name">{{newOrg.organisationName}}</span>
                <span class="organisation__balance">{{(19 + getDecimals(newOrg.decimals)) | number : '.0-' + (newOrg.decimals || 0)}}<span>{{newOrg.symbol}}</span></span>
              </div>
              <button mat-button color="primary" [disabled]="!newOrgForm.valid" (click)="createOrganisation(newOrgForm)">create</button>
            </div>

          </form>

        </mat-card>

        <div class="or">or</div>

        <div class="new-organisation" @cardInOut *ngIf="showCreateForm">
          <button mat-button color="primary" (click)="showCreateForm = !showCreateForm">Join an organisation</button>
        </div>
        <div class="new-organisation" @cardInOut *ngIf="!showCreateForm">
          <button mat-button color="primary" (click)="showCreateForm = !showCreateForm">Create a new organisation</button>
        </div>
      </div>

      <div *ngIf="newOrganisation$ | async as newOrganisation" @cardInOut>
        <mat-card>
          <h3>Organisation created</h3>

          <div class="organisation">
            <eth-kudos-blockie [address]="newOrganisation.address" variant="big"></eth-kudos-blockie>
            <div class="organisation__info">
              <span class="organisation__name">{{newOrganisation.organisationName || newOrganisation.name}}</span>
              <span class="organisation__balance" *ngIf="newOrganisation.imMember">{{newOrganisation.myBalance}}<span>{{newOrganisation.symbol}}</span></span>
              <span class="organisation__not-member" *ngIf="!newOrganisation.imMember">Let's start</span>
            </div>
            <button mat-button color="primary" [routerLink]="['/', newOrganisation.address]">open</button>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="main__card" *ngIf="(status$ | async) !== 'total' && showHelp">
      <eth-kudos-help-cards></eth-kudos-help-cards>
    </div>

  </section>

  <section class="block block--members">
    <div class="block__content">
      <div class="block__grow block--members__ranking">
        <mat-accordion>
          <mat-expansion-panel
            *ngFor="let balance of ranking; let i = index; trackBy: trackMember"
            [hideToggle]="true"
            [disabled]="true">

            <mat-expansion-panel-header>
              <mat-panel-title class="ranking-wrapper">
                <div class="ranking" [attr.data-n]="i + 1">
                  <span class="ranking__balance-wrapper">
                    <span class="ranking__balance">{{balance.balance}}<code>KUDOS</code></span>
                  </span>

                  <eth-kudos-blockie [address]="balance.member"></eth-kudos-blockie>

                  <span class="ranking__name">{{balance.name}}</span>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="block__text">
        <h2><span>Your organisation or</span>&nbsp;<span>team, your token</span></h2>
        <h3><span>The more Kudos a member</span>&nbsp;<span> receives, the more prestige</span></h3>
        <p>
          Each member will have some kudos to reward other coworkers,
          <br>
          sending a message that will be seen by the receivers.
        </p>
        <p>
          There is a limit of kudos sendings, which ensures that all the
          <br>
          members respect the rules and promote gratitude between members.
        </p>
        <a href="#let's-start" *ngIf="(status$ | async) !== 'total' && (status$ | async) !== null && !showHelp">
          <button mat-raised-button
            color="primary"
            data-qa="landing-home-start-using"
            data-qa-key="section-2"
            (click)="showHelp = true">

            Start using EthKudos
          </button>
        </a>
      </div>
    </div>
  </section>

  <section class="block block--graph">
    <div class="block__content">
      <div class="block__text">
        <h2><span>Polling time!</span>&nbsp;<span>Time to reward!</span></h2>
        <h3><span>The members are sending gratitude</span>&nbsp;<span>to people that have helped</span></h3>
        <p>
          Each message will increase motivation and improve the team's relationship,
          <br>
          the team cooperation won't be forgotten.
        </p>
        <p>
          Your organisation is able to use the polling data to gratify the members.
          <br>
          So, wouldn't you like to have EthKudos on your team?
        </p>
        <a href="#let's-start" *ngIf="(status$ | async) !== 'total' && (status$ | async) !== null && !showHelp">
          <button mat-raised-button
            color="primary"
            data-qa="landing-home-start-using"
            data-qa-key="section-3"
            (click)="showHelp = true">

            Start using EthKudos
          </button>
        </a>
      </div>
      <div class="block__grow">
        <eth-kudos-graph [nodes]="nodes" [edgesList]="edgesList"></eth-kudos-graph>
      </div>
    </div>
  </section>

  <section class="block block--donation">
    <div class="block__content">
      <div class="block__grow">
        <div class="gauge-wrapper">
          <svg class="gauge" viewBox="0 0 360 360">
            <defs>
              <linearGradient
                id="gradient"
                x1="0%" y1="0%"
                x2="100%" y2="100%"
                gradientUnits="userSpaceOnUse"
                gradientTransform="rotate(45)">

                <stop
                  *ngFor="let c of ['#886bb7', '#008de1', '#00aae3', '#00c0b9', '#00cd74'] as colors; let i = index"
                  [attr.stop-color]="c"
                  [attr.offset]="i / (colors.length - 1)" />

              </linearGradient>
            </defs>
            <circle class="back" cy="180" cx="180" r="175"/>
            <circle
              class="color"
              cy="180" cx="180" r="175"
              stroke="url(#gradient)"
              [attr.stroke-dashoffset]="getDonationProgress()"/>
          </svg>
          <div class="gauge-network gauge-network--left">Ropsten <span>Network</span></div>
          <div class="gauge-network gauge-network--right">Main <span>Network</span></div>
          <div class="gauge-ethereum-logo">
            <svg x="0px" y="0px" viewBox="0 0 1920 1920" enable-background="new 0 0 1920 1920" xml:space="preserve">
              <polygon opacity="0.45" points="563.9,982.5 959.9,1216.5 959.9,325.5"/>
              <polygon opacity="0.6" points="563.9,982.5 959.9,802.5 1355.9,982.5 959.9,1216.5"/>
              <polygon opacity="0.8" points="1355.9,982.5 959.9,1216.5 959.9,325.5"/>
              <polygon opacity="0.45" points="959.9,1594.5 959.9,1270.5 563.9,1036.5"/>
              <polygon opacity="0.8" points="959.9,1594.5 959.9,1270.5 1356.1,1036.5"/>
            </svg>
          </div>
          <div class="gauge-content">
            <div class="gauge-content__ether">{{(donationBalance || 0) | number : '.5'}}<span>&Xi;</span></div>
            <div class="gauge-content__sub-ether">raised</div>
            <div class="gauge-content__of"></div>
            <div class="gauge-content__sub-ether gauge-content__sub-ether--left">needed</div>
            <div class="gauge-content__ether">{{(donationGoal || 0) | number : '.5'}}<span>&Xi;</span></div>

            <button mat-raised-button
              color="primary"
              data-qa="landing-home-section-donate"
              routerLink="/donate">

              donate
            </button>
          </div>
        </div>
      </div>
      <div class="block__text">
        <h2><span>Why <span class="keyword">beta</span>?</span>&nbsp;<span>Why <span class="keyword">ropsten<sup>*</sup></span>?</span></h2>
        <h3><span>We want to improve EthKudos,</span>&nbsp;<span>we need your feedback!</span></h3>
        <p>
          You can give us your feedback on <a href="https://github.com/Pedro-vk/EthKudos/issues" target="blank">GitHub</a>.
          <br>
          Tell us how is your team using EthKudos and what are you missing.
        </p>
        <p>
          Help us to speed up the deployment on <strong>Ethereum main network</strong>.
          <br>
          Create your organisation, give us some feedback and donate some Ether.
        </p>
        <em class="note">Ropsten is a testing network of Ethereum.</em>
      </div>
    </div>
  </section>

  <footer>
    <div>
      <a mat-button data-qa="landing-home-footer-github" href="https://github.com/Pedro-vk/EthKudos" target="_blank" rel="noopener">GitHub</a>
      <a mat-button data-qa="landing-home-footer-faqs" routerLink="/faqs">FAQs</a>
      <a mat-button data-qa="landing-home-footer-about" routerLink="/about">About</a>
    </div>
    <div>
      <a mat-button data-qa="landing-home-footer-privacy" routerLink="/privacy-policy">Privacy Policy</a>
      <a mat-button data-qa="landing-home-footer-donate" routerLink="/donate">Donate</a>
    </div>
  </footer>
</div>

<img class="preload" src="assets/metamask-network.png" [attr.alt]="'MetaMask logo' | translate">
