@import '~@angular/material/theming';
@import '../../styles/index';

@include organisation();

:host {
  background: $background;
  height: 100%;
  display: block;

  * {
    box-sizing: border-box;
  }
}

[disabled] {
  position: relative;
  overflow: hidden;

  mat-progress-bar.on-disabled {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.container {
  background: $content-background;
  // max-width: 1800px;
  width: 100%;
  margin: auto;
  height: 100%;
  padding-top: $landing-header-size;


  // TODO - Remove it
  &__extra {
    height: 100px;
  }
}

.warning {
  overflow: hidden;
  padding: 6px 40px 4px;
  background: #FFE082;
  box-shadow:
    inset 0  1px 0px  #ffcf3d,
    inset 0 -1px 0px  #ffcf3d;
  border-width: 1px 0;
  color: rgba(#000000, .7);
  text-align: center;

  mat-icon {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    color: #856404;
  }
  button {
    margin-left: 12px;
    color: #856404;
  }
}

header {
  @include header;

  .organisation {
    overflow: hidden;
    margin: 0;
  }

  .header-right-side {
    display: flex;
    align-items: center;
    margin-right: -20px;
    overflow: hidden;
    height: 70px;

    a {
      margin-left: 10px;
      opacity: .7;
    }

    @media (max-width: 560px) {
      margin-right: 0px;

      a {
        display: none;
      }
    }
  }

  @media (max-width: 400px) {
    .organisation {
      eth-kudos-blockie {
        margin-right: 20px;
      }
      &__info {
        display: none;
      }
    }
  }
}

.main {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1480px;
  margin: auto;
  min-height: 700px;

  &__text,
  &__card {
    width: 100%;
  }
  &__text {
    color: #4a4a4a;
    padding: 40px;
    font-size: 16px;
    max-width: 640px;

    @media (max-width: 1200px) {
      br {
        display: none;
      }
    }

    h2 {
      margin: 0;
      margin-bottom: 20px;
      font-weight: 300;
      font-size: 36px;
    }
    p {
      margin: 14px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-button {
      padding-top: 4px;
    }

    @media (max-width: 1060px) {
      h2 {
        font-size: 28px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  mat-card {
    position: relative;
    display: block;
    overflow: hidden;
  }
  .organisation {
    margin: auto;
    margin-top: 16px;
  }
  &__card {
    padding: 40px;
    color: #333333;

    a {
      @incldue transition;

      color: #3f51b5;
      text-decoration: none;

      &:hover {
        opacity: .8;
      }
    }
    mat-card {
      width: 488px;
      margin: auto;
    }
    h3 {
      font-size: 18px;
      font-weight: 400;
      color: #333333;
      margin-top: 0;
    }
    h4 {
      font-weight: 300;
      margin-top: -10px;
      color: #666666;

      strong {
        font-weight: 400;
        color: #555555;
      }
    }
    mat-form-field {
      width: 100%;
    }
    mat-checkbox {
      display: block;
      margin-top: 6px;
    }

    .or {
      height: 1px;
      line-height: 1px;
      margin: 38px 0 30px;
      text-align: center;
      color: #333333;

      &:after,
      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 1px;
        width: 50px;
        background: #cccccc;
        margin: 0 10px;
      }
    }
    .new-organisation {
      text-align: center;
    }
  }
}

.autocomplete-option {
  &__blockie {
    height: 26px;
    display: inline-block;
    vertical-align: middle;
  }
  &__text {
    display: inline-block;
    vertical-align: middle;
    font-family: "Roboto Mono";
    padding-left: 10px;
    color: #444444;
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  .main {
    display: block;
    padding-bottom: 60px;
    height: auto;
    min-height: auto;

    &__text {
      padding-top: 80px;

      br {
        display: block;
      }
    }
    &__text,
    &__card {
      margin: auto;
      width: 570px;
    }
  }
}

@media (max-width: 570px) {
  .main {
    display: block;
    min-height: auto;

    &__text {
      padding-top: 80px;

      br {
        display: none;
      }
    }
    &__text,
    &__card {
      margin: auto;
      width: 100%;
      max-width: 570px;
      padding-right: 20px;
      padding-left: 20px;
    }
    mat-card {
      width: 100%;
    }
  }
}

@media (max-width: 430px) {
  .metamask-image {
    max-width: 100%;

    &__circle {
      &--n1 {
        margin-left: -27%;
      }
      &--n2 {
        display: none;
      }
    }
  }
}

.block {
  padding: 40px;

  @media (max-width: 1060px) {
    padding: 20px;
  }

  &__content {
    display: flex;
    max-width: 1480px;
    margin: auto;
    align-items: center;
  }

  &__text {
    padding: 20px;
    max-width: 640px;
    color: #444444;

    h2,
    h3 {
      span {
        display: inline-block;
      }
    }

    h2 {
      font-size: 32px;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 20px;
    }
    h3 {
      font-size: 24px;
      margin-top: 20px;
      font-weight: 300;
      color: #555555;
    }
    p {
      margin: 14px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      @incldue transition;

      color: #3f51b5;
      text-decoration: none;

      &:hover {
        opacity: .8;
      }
    }
    strong {
      font-weight: 500;
    }
    button {
      margin-top: 14px;
    }

    &--right {
      text-align: right;
    }

    @media (max-width: 1200px) {
      h2 {
        font-size: 28px;
      }
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }
    @media (max-width: 1000px) {
      br {
        display: none;
      }
    }
    @media (max-width: 800px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__grow {
    flex: 1;
  }

  &--members {
    background: url('/assets/bg-colorful.png');
    background-attachment: fixed;
    border: 1px solid rgba(0, 0, 0, .08);
    border-left: 0;
    border-right: 0;
    box-shadow: inset 0 0 0 9999px rgba(#dddddd, 0.3);

    &__ranking {
      padding: 0px 20px;


      @media (max-width: 800px) {
        width: 100%;
        padding: 30px 0;
      }

      mat-accordion {
        max-width: 500px;
        margin: auto;
        display: block;
      }
    }
  }
  &--members &__content {
    min-height: 460px;

    @media (max-width: 800px) {
      flex-direction: column-reverse;
    }
  }
  &--members &__text {
    margin-left: 40px;
    text-shadow: 0 1px 2px #ffffff;

    @media (max-width: 1060px) {
      margin-left: 20px;
    }
    @media (max-width: 800px) {
      margin-left: 0;
    }
  }
  &--graph {
    border-bottom: 1px solid rgba(0, 0, 0, .08);
  }
  &--graph &__content {
    min-height: 460px;

    @media (max-width: 800px) {
      flex-direction: column;
    }
  }
  &--graph &__grow {
    padding: 20px;
  }
  &--donation {
    background: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, .08);

    .keyword {
      font-family: "Roboto Mono";
      color: #3f51b5;
    }
    svg {
      margin: auto;
      display: block;
    }
  }
  &--donation &__content {
    min-height: 400px;

    @media (max-width: 800px) {
      flex-direction: column-reverse;
    }
  }
  &--donation &__grow {
    padding: 20px;
  }
}

.gauge {
  width: 360px;
  max-width: 100%;

  circle {
    $size: 360;
    $border: 10;
    $dash: ($size - $border) * 3.1416;

    stroke-dasharray: $dash;
    cx: $size / 2;
    cy: $size / 2;
    r: $size / 2  - $border / 2;
    stroke-width: $border;
    fill: transparent;
    transform: rotate(135deg);
    transform-origin: 50% 50%;

    &.back {
      stroke: #cccccc;
      stroke-dashoffset: $dash * 0.25;
    }
  }

  &-wrapper {
    position: relative;
    display: table;
    margin: auto;
    max-width: 100%;
  }
  &-content {
    position: absolute;
    display: table;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    padding-bottom: 20px;

    &__ether {
      font-family: "Roboto Mono";
      font-weight: 400;
      font-size: 32px;
      color: #333;
      line-height: 1em;

      span {
        opacity: .6;
        display: inline-block;
        padding-left: 4px;
      }
    }
    &__sub-ether {
      text-align: right;
      font-size: 14px;
      font-weight: 400;
      color: #3f51b5;

      &--left {
        text-align: left;
      }
    }
    &__of {
      height: 16px;
      position: relative;

      &:before {
        content: '';
        height: 2px;
        width: 40px;
        background: #3f51b5;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
      }
    }
    button {
      margin-top: 36px;
    }
  }
  &-network {
    position: absolute;
    font-size: 18px;
    line-height: 1.34em;
    font-weight: 300;
    text-align: center;
    width: 110 / 360 * 100%;
    height: 0;
    bottom: 40 / 360 * 100%;
    color: #333333;

    span {
      display: block;
      font-size: .8em;
      line-height: 1.2em;
      opacity: .7;
    }

    &--left {
      left: 0;
    }
    &--right {
      right: 0;
    }
  }
  &-ethereum-logo {
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 80px;
    transform: translateX(-50%);
  }

  @media (max-width: 430px) {
    &-content {
      &__ether {
        font-size: 28px;
      }
      &__of {
        height: 10px;

        &:before {
          width: 30px;
        }
      }
      button {
        margin-top: 20px;
      }
    }
    &-ethereum-logo {
      width: 60px;
    }
  }

  @media (max-width: 380px) {
    &-content {
      &__ether {
        font-size: 22px;
      }
      &-ethereum-logo {
        width: 60px;
      }
    }
  }
}

footer {
  background: #ffffff;
  padding: 100px 20px 30px;
  text-align: center;

  div {
    display: inline-block;
  }
  a {
    opacity: .7;
    margin: 0 20px 10px;

    @media (max-width: 500px) {
      margin: 0 10px 10px;
    }
    @media (max-width: 420px) {
      margin: 0 0 10px;
    }
  }
}

.preload {
  opacity: 0;
  z-index: -100;
  position: fixed;
  top: -999999px;
  left: -999999px;
}
