<h3>Getting started</h3>

<mat-accordion>

  <mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>
          <em class="prefix">Desktop</em>What do I need to use EthKudos?
        </span>
        <mat-icon>add</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      Here’s what you need to get started:
    </p>

    <ul>
      <li>A computer or laptop running the desktop version of Chrome or Firefox</li>
      <li>MetaMask, a digital wallet used specifically with web dapps</li>
      <li>Ether, a form of digital payment that powers EthKudos</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>
          <em class="prefix">Mobile</em>What do I need to use EthKudos?
        </span>
        <mat-icon>add</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      Here’s what you need to get started:
    </p>

    <ul>
      <li>A smartphone with Android or iOS</li>
      <li>Toshi or Cipher, both are digital wallet used specifically with web dapps</li>
      <li>Ether, a form of digital payment that powers EthKudos</li>
    </ul>
    <button>Go to stores</button>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>
          Getting Ether, your digital currency
        </span>
        <mat-icon>add</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      EthKudos is working over to the Ropsten Ethereum Network (a testnet).
      It means that is necessary to get Ether to use EthKudos.
    </p>
    <p>
      On the testnets, there are some ways to get free Ether.
      EthKudos tries to claim some Ether for you and you can claim
      more on <a href="https://faucet.metamask.io/" target="_blank">this Ether faucet</a>.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>
            What is <em>gas</em>?
        </span>
        <mat-icon>add</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      <em>Gas</em> is a shorthand used to describe the cost of powering a transaction or
      contract in Ethereum, which is the blockchain network that Ethereum is built on.
    </p>
    <p>
      Because blockchain is decentralized, every transaction is distributed through multiple
      computers, not a central server. This ensures each organisation and polling is secure or one-of-a-kind.
      However, it also takes more computational power, which is covered by the cost of gas.
      Ethereum typically communicates this cost in gwei (1 million gwei = 1 ether/ETH).
    </p>
  </mat-expansion-panel>

</mat-accordion>

<h3>Understanding EthKudos</h3>

<mat-accordion>

  <mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>
          What is EthKudos?
        </span>
        <mat-icon>add</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      EthKudos is a gratitudes/kudos system that provides to companies, organisations or teams to boost the cooperation between the coworkers.
    </p>
    <p>
      EthKudos allows to create a new organisation over Ethereum, this organisation is owned by the creator. Ethereum is the technology that ensures that the owner of the organisation and the members are who can interact with this organisation.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>
          Hold your horses, describe EthKudos in words that make sense to me
        </span>
        <mat-icon>add</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      You will be able to create an organisation, add members and create polling events. In a polling, the members are able to vote for other members. At the end of a polling, this members will receive the kudos sent by other members.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>
          What is an organisation on EthKudos?
        </span>
        <mat-icon>add</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      An organisation, technically, is a <em>Smart contract</em> that is called <em>ERC20</em> (or <em>Token ERC20</em>) with more features. It means that the members will be able to see his/here balance of kudos on MetaMask or other Ethereum client.
    </p>
    <p>
      Each organisation have its own name, symbol and number of decimals. It is the necessary information to create a <em>Token ERC20</em>, and it needs to be filled in the creation of the organisation.
    </p>
    <p>
      <strong>Notes:</strong>
    </p>
    <ul>
      <li>
        The organisations can be added (optionally) on the EthKudos directory.
        This information is only used to show an autocomplete on the landing
        page right now. But can be used for other purposes in the future
        (like show a list of all the organisations).
      </li>
      <li>
        The organisation are <em>Token ERC20</em>, but have a limitation by design: is not possible to transfer kudos, the kudos just can be earned as part of a gratitude from other members.
      </li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>
          Can I see my organisation on Etherscan?
        </span>
        <mat-icon>add</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      First of all, Etherscan is a website that shows the details of all the transactions, accounts and <em>Smart contracts</em> on Ethereum.
    </p>
    <p>
      So yes, you are able to check all the transactions done on EthKudos in Etherscan.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>
          Is my organisation like Bitcoin or Ethereum?
        </span>
        <mat-icon>add</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      No, your organisation is a <em>Token ERC20</em>, but it has the trading features limited, so nobody can send or receive it. So each token won't have more value than the prestige among the members a company, team or organisation.
    </p>
  </mat-expansion-panel>

</mat-accordion>

<h3>Technical details</h3>

<mat-accordion>

  <mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>
          How is EthKudos built?
        </span>
        <mat-icon>add</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      EthKudos have 2 parts:
    </p>
    <ul>
      <li>
        <strong>Ethereum:</strong> EthKudos has deployed some <em>Smart contracts</em> (like applications) on Ethereum, that provide the organisation creation and all the features that it needs to work (like member addition, polling creation, send gratitudes on a polling...).
      </li>
      <li>
        <strong>Web dapp:</strong> is a web application that doesn't need its own server to store the data, just use the data provided by the Ethereum network, that store it safely.
      </li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>
          How is EthKudos technically built?
        </span>
        <mat-icon>add</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      EthKudos need a lot of technologies to be developed and make it work.
    </p>
    <ol>
      <li>Ethereum side:</li>
      <ul>
        <li>
          <a href="https://en.wikipedia.org/wiki/Solidity" target="_blank">Solidity:</a>
          is the programming language used by Ethereum.
        </li>
        <li>
          <a href="http://truffleframework.com/" target="_blank">Truffle:</a>
          is the framework that helps to develop over Ethereum using Solidity. Provides a way to test the <em>Smart contracts</em> and deploy it (with some good practices, like incremental migrations).
        </li>
        <li>
          <a href="https://infura.io/" target="_blank">Infura:</a>
          provides an interface to connect to Ethereum. Used to deploy the <em>Smart contracts</em>.
        </li>
      </ul>
      <li>Web dapp side:</li>
      <ul>
        <li>
          <a href="https://angular.io/" target="_blank">Angular:</a>
          is the framework used to build all the application, it provides routing, services injection, template rendering...
        </li>
        <li>
          <a href="https://web3js.readthedocs.io/en/1.0/" target="_blank">Web3 (Ethereum API):</a>
          is the JavaScript API to interact with Ethereum Network.
        </li>
        <li>
          <a href="https://github.com/trufflesuite/truffle-contract" target="_blank">Truffle contract:</a>
          makes the interaction with <em>Smart contracts</em> easier.
        </li>
      </ul>
      <li>Infrastructure:</li>
      <ul>
        <li>
          <a href="https://travis-ci.org/" target="_blank">Travis CI:</a>
          provides a continuous integration, running tests, code quality and building the application to be deployed.
        </li>
        <li>
          <a href="https://pages.github.com/" target="_blank">GitHub pages:</a>
          provides a hosting for the web dapp, being easy to be deployed by Travis CI.
        </li>
        <li>
          <a href="https://www.cloudflare.com/" target="_blank">Cloudflare:</a>
          is a middleware layer that adds <em>https</em>, cache, DDoS prevention and more features to the web dapp.
        </li>
      </ul>
    </ol>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>
          Can I check the code?
        </span>
        <mat-icon>add</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      Yes, all the code <a href="https://github.com/Pedro-vk/EthKudos" target="_block">is on GitHub</a> and anyone can contribute.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>
            How many <em>Smart contracts</em> does EthKudos need to work?
        </span>
        <mat-icon>add</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      EthKudos needs some <em>Smart contracts</em> to work, there are:
    </p>
    <ul>
      <li>
        <strong>KudosPoll:</strong>
        manage and stores a polling, the members of an organisation votes to others directly on this <em>Smart contract</em>. It stores all the kudos (with its messages).
      </li>
      <li>
        <strong>KudosPollFactory:</strong>
        provides a middleware to create a <em>KudosPoll</em> instance, allowing to be upgraded the Smart contract.
      </li>
      <li>
        <strong>KudosToken:</strong>
        manage an organisation, it stores the members, allow to create and close polls and stores the total number of kudos by the member.
      </li>
      <li>
        <strong>KudosTokenFactory:</strong>
        provides a middleware to create a <em>KudosToken</em> instance, allowing to be upgraded the Smart contract.
      </li>
      <li>
        <strong>KudosOrganisations:</strong>
        is responsible of the creation of new organisations (<em>KudosToken</em>) and store the address of the organisations that are in the directory.
      </li>
      <li>
        <strong>KudosRouter:</strong> this <em>Smart contract</em> stores the address and version of <em>KudosTokenFactory</em> and <em>KudosPollFactory</em>, it allows to upgrade the new organisations and polling events.
      </li>
    </ul>
  </mat-expansion-panel>

</mat-accordion>
