@import '../../styles/index';

:host {
  color: #555555;
  font-weight: 400;
}

h3 {
  font-weight: 300;
  font-size: 24px;
  margin: 40px 0 20px;

  &:first-child {
    margin-top: 0;
  }
}
mat-accordion {
  strong,
  em {
    color: #444444;
  }
  strong {
    font-weight: 500;
  }
  li {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  a {
    @incldue transition;

    color: #3f51b5;
    text-decoration: none;

    &:hover {
      opacity: .8;
    }
  }
  table {
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: auto;

    img {
      max-height: 80px;
    }
    td {
      padding: 12px;

      @media (max-width: 700px) {
        display: block;
      }
    }
    .logo {
      width: 100%;
      min-width: 150px;
      box-sizing: border-box;
    }
    .app-name {
      display: block;
      font-size: 22px;
      font-weight: 300;
      padding-top: 4px;
    }
  }
  ol ul li {
    list-style-type: disc;
  }
  ol, ul {
    padding-left: 25px;
  }
}

.prefix {
  opacity: .7;

  &:after {
    content: '-';
    margin: 0 6px;
    opacity: .6;
  }
}

:host {
  /deep/ {
    .mat-expansion-panel-header-title {
      align-items: center;
      justify-content: space-between;

      mat-icon {
        @include transition;

        color: rgba(0, 0, 0, .5);
        margin-left: 20px;
      }
    }
    .mat-expansion-panel {
      &.mat-expanded {
        mat-icon {
          transform: rotate(45deg);
        }
      }
    }
  }
}
