@import '~@angular/material/theming';
@import '../styles/index';

@include organisation();

$header-size: 70px;

:host {
  height: 100%;
  min-height: 600px;
  overflow: hidden;
  padding: 6px 40px 4px;
  background-image: linear-gradient(to right top, #051937, #00456d, #00747f, #00a160, #8ec414);
  border-width: 1px 0;
  color: rgba(#000000, .7);
  display: block;
  box-sizing: border-box;
  padding: 40px 80px;

  @media (max-width: 1000px) {
    padding: 40px;
  }
  @media (max-width: 880px) {
    height: auto;
    min-height: initial;
  }
  @media (max-width: 500px) {
    padding: 40px 20px;
  }
}

.content {
  display: flex;
  margin: auto;
  align-items: center;
  height: 100%;
  max-width: 1400px;
  margin: auto;
  justify-content: space-between;

  &__text {
    color: #ffffff;
    white-space: nowrap;

    h2 {
      font-size: 36px;
      margin: 0;
      font-weight: 300;
      text-shadow: 0 1px 3px rgba(#000000, .4);
    }
  }
  &__card {
    flex: 1;
    padding-left: 80px;

    mat-card {
      @include mat-elevation(3);

      box-sizing: border-box;
      width: 100%;
      max-width: 400px;
      margin: auto;
      overflow: hidden;

      & ~ mat-card {
        margin-top: 40px;
      }
    }
    mat-form-field {
      width: 100%;
    }
    input[readonly] {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 10px;
      box-sizing: border-box;
    }
    [matSuffix] {
      font-size: 18px;
      position: relative;
      top: 3px;
      cursor: pointer;
    }
  }

  @media (max-width: 880px) {
    display: block;

    &__text {
      text-align: center;
      padding: 20px 0 40px;
    }
    &__card {
      padding: 0;
    }
  }
  @media (max-width: 500px) {
    &__text h2 {
      font-size: 32px;
    }
  }
  @media (max-width: 370px) {
    &__text h2 {
      font-size: 28px;
    }
  }
}

.organisation {
  margin: auto;
}

.members {
  border-top: 1px solid #dcdcdc;
  margin: 24px -24px 0;
  padding: 24px 24px 0;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;

  eth-kudos-blockie {
    margin: 0 3px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: #ffffff;
    width: 24px;
    z-index: 2;
    box-shadow: 0px 0 24px 24px #ffffff;
  }
}
