<div class="content">
  <div class="content__text">
    <h2>Join the organisation</h2>
  </div>
  <div class="content__card">
    <mat-card @cardInOut *ngIf="kudosTokenInfo$ | async as org">
      <div class="organisation">
        <eth-kudos-blockie [address]="org.address" variant="big"></eth-kudos-blockie>
        <div class="organisation__info">
          <span class="organisation__name">{{org.name}}</span>
          <span class="organisation__balance" *ngIf="org.imMember">{{org.myBalance}}<span>{{org.symbol}}</span></span>
          <span class="organisation__not-member" *ngIf="!org.imMember">You are not member</span>
        </div>
        <button mat-button color="primary" [routerLink]="['/', org.address]">join</button>
      </div>
      <div class="members" *ngIf="org.members.length">
        <eth-kudos-blockie
          *ngFor="let member of org.members"
          [address]="member.member"
          [matTooltip]="member.name"
          variant="big">
        </eth-kudos-blockie>
      </div>
    </mat-card>

    <mat-card @cardInOut *ngIf="(kudosTokenInfo$ | async)?.imMember === false">
      <mat-card-title>You are not member yet</mat-card-title>
      <mat-card-subtitle>
        Send this link to the owner to request access.
      </mat-card-subtitle>

      <mat-form-field>
        <input
          matInput
          ngModel=""
          (ngModelChange)="joinName$.next($event)"
          type="text"
          placeholder="What is your name?">
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          #joinUrl
          readonly
          [ngModel]="adminJoinUrl$ | async"
          type="text"
          placeholder="Send it to the owner">
        <mat-icon matSuffix *ngIf="!copied" (click)="copyJoinUrl()">content_copy</mat-icon>
        <mat-icon matSuffix *ngIf="copied" matTooltip="Copied!">check</mat-icon>
      </mat-form-field>
    </mat-card>
  </div>
</div>
