@import '~@angular/material/theming';
@import '../styles/index';

$header---height: 64px !default;
$header--small---height: 48px !default;
$header--secondary---height: 48px !default;

.header,
.footer,
.container {
  &:not(.visible) {
    display: none;
  }
}

.container {
  position: fixed;
  top: $header---height + $header--secondary---height;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: 1;
  padding: 40px 20px;

  @media (max-width: 540px) {
    padding: 20px 0;
  }
  @media (max-width: 460px) {
    top: $header--small---height + $header--secondary---height;
  }

  &--footer {
    bottom: $header--secondary---height;
  }
}

.icon-wrapper {
  @include transition;

  max-width: 0;
  transform: scale(0);

  &--visible {
    transform: scale(1);
    max-width: 48px;

    @media (max-width: 460px) {
      max-width: 38px;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;

  svg,
  svg path {
    fill: currentColor;
  }
  a {
    color: currentColor;
    display: inline-block
  }
  .title {
    font-weight: 300;
    display: flex;
    align-items: center;
    padding: 2px 0;

    &,
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    [mat-icon-button] {
      margin-right: 8px;
      position: relative;
      top: -1px;
    }
    span {
      display: inline-block;
      vertical-align: middle;
    }

    @media (max-width: 460px) {
      font-size: 16px;

      mat-icon {
        font-size: 20px;
      }

      button {
        width: 30px;
        height: 30px;
        line-height: 30px;
      }
    }
    &__icon {
      @include transition;

      color: currentColor;
      display: inline-block;
      position: relative;
      top: -1px;

      &:hover {
        opacity: 0.7;
      }

      mat-icon {
        position: relative;
        top: -1px;
      }

      @media (max-width: 460px) {
        width: 30px;
        height: 30px;
        line-height: 26px;

        mat-icon {
          font-size: 18px;
        }
        svg {
          transform: scale(.7);
        }
      }
    }
  }

  &--primary {
    z-index: 3;
    height: $header---height;
    border-bottom: 1px solid rgba(0,0,0, .08);
    background: #ffffff;
    color: #555555;
    display: flex;

    @media (max-width: 460px) {
      height: $header--small---height;
    }
  }
  &--secondary {
    z-index: 2;
    top: $header---height;
    height: $header--secondary---height;
    box-shadow: 0 0 12px rgba(0, 0, 0, .3);

    @media (max-width: 460px) {
      top: $header--small---height;
    }
  }

  &__account {
    padding-left: 10px;
    vertical-align: middle;
    font-size: 14px;

    &-wrapper {
      display: flex;
    }
    &-row {
      display: block;

      &--no-member,
      &--name {
        line-height: 16px;
        color: #111111;
        font-weight: 400;

        @media (max-width: 600px) {
          line-height: 30px;
        }
      }
      &--no-member {
        display: none;
        color: red;
        opacity: .7;
      }
      &--address {
        font-family: 'Roboto Mono', monospace;
        font-size: 12px;
        line-height: 14px;
        opacity: .6;
      }
    }

    &--no-member &-row--name {
      display: none;
    }
    &--no-member &-row--no-member {
      display: block;
    }

    @media (max-width: 600px) {
      &-row--address {
        display: none;
      }
    }
  }
  &__balance {
    font-size: 12px;
    text-align: right;

    &-row {
      height: ($header--secondary---height - 8px) / 2;
      line-height: ($header--secondary---height - 8px) / 2;
      font-weight: 300;

      code {
        font-family: 'Roboto Mono', monospace;
        font-weight: normal;
      }
      .symbol {
        opacity: .6;
      }
    }
  }
}

.main-loading {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 5;
  transition: height .3s ease 1s;

  /deep/ &.mat-progress-bar[mode=buffer] .mat-progress-bar-background {
    opacity: .6;
  }
  &--hidden {
    height: 0;
  }
}

.footer {
  @include transition;

  background: #fafafa;
  display: block;
  position: fixed;
  height: $header--secondary---height;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  box-shadow: 0 0 12px rgba(0, 0, 0, .3);
  z-index: 2;
  display: flex;

  &:not(.visible) {
    display: block;
    bottom: -$header--secondary---height;
  }

  .title {
    font-size: 16px;
    font-weight: 400;
    padding-right: 20px;

    @media (max-width: 600px) {
      display: none;
    }
  }

  mat-chip-list {
    flex: 1;
    overflow: hidden;

    /deep/ .mat-chip-list-wrapper {
      display: flex;
    }
    /deep/ .mat-chip:not(.mat-basic-chip)+.mat-chip:not(.mat-basic-chip) {
      margin-left: 15px;
    }
  }

  .tx {
    font-family: 'Roboto Mono';
    flex: 1;
    overflow: hidden;
    display: flex;
    max-width: 320px;
    font-size: 14px;
    align-items: center;
    color: #444444;
    padding: 4px 5px;
    padding-left: 12px;
    box-shadow: none;
    cursor: pointer;

    mat-icon {
      font-size: 18px;
      height: 18px;
      width: 18px;
      opacity: .6;
    }
    &__hash {
      overflow: hidden;
      margin-left: 8px;
      padding-right: 10px;
      text-overflow: ellipsis;
    }
    &__confirmations {
      padding-left: 4px;
    }
    &__info {
      display: inline-block;
      padding: 3px 10px;
      border-radius: 12px;
      background: rgba(255, 255, 255, .6);
    }

    &__icon--spinner {
      animation: spinner 1.2s ease-in-out infinite;
    }
    &__icon--mined,
    &__confirmations--mined {
      color: #2578FF;
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.link {
  color: #2578FF;
  transition: all .3s ease;
  cursor: pointer;

  &:hover {
    opacity: .6;
  }
}

.warning {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  z-index: 10;
  display: flex;
  text-align: center;

  &__header {
    font-size: 46px;
    padding-bottom: 30px;
  }
  &__message {
    font-size: 18px;
    line-height: 1.4em;
  }

  &-wrapper {
    margin: auto;
  }

  button {
    margin: 30px 0;
  }

  iframe {
    margin-top: 40px;
    max-width: 480px;
    display: block;
    margin: auto;
    border: 0;
  }

  img {
    margin-top: 40px;
    order: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 2px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  }
}

/deep/ {
  .active-poll {
    eth-kudos-blockie {
      display: block;
      margin-right: 12px;
    }
    mat-card-title {
      position: relative;
      top: 2px;
    }
    mat-card-subtitle {
      margin-bottom: 0;
      margin-left: -2px;
    }
  }

  .icon-block {
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;

    * {
      display: inline-block;
      vertical-align: middle;
    }
    mat-icon {
      height: 17px;
      line-height: 14px;
    }
    span {
      position: relative;
      top: 1px;
      padding-left: 4px;
    }
  }
}
