@import '~@angular/material/theming';

:host {
  max-width: 600px;
  display: block;
  margin: auto;
}

h2.heading {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 24px;
  margin: 20px 0;
}

mat-form-field {
  display: block;
}
mat-card {
  margin-bottom: 40px;
}
mat-card-actions {
  text-align: right;
}

.transfered {
  font-size: 20px;
  display: block;
  max-width: 200px;
  margin: auto;
  padding: 20px 0;

  &__title {
    font-size: 18px;
    text-align: center;
    padding-bottom: 6px;
  }
  code {
    font-weight: 400;
  }
  &__of {
    display: block;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 50%;
      height: 2px;
      width: 46px;
      background: #3f51b5;
      transform: translateX(-50%) rotate(-45deg);
    }
  }
  &__symbol {
    padding-left: 4px;
    font-size: 12px;
    opacity: .7;
  }
  &__number {
    display: block;
    &--right {
      text-align: right;
    }
    &--left {
      text-align: left;
    }
  }

  mat-progress-bar {
    margin-top: 12px;
  }
}

.actions-with-warn {
  display: flex;
  padding-left: 10px;

  .align {
    margin-left: auto;
  }
}
.action-warn {
  font-size: 12px;
  line-height: 36px;
  opacity: .7;
  flex-grow: 1;
  margin-right: auto;
  text-align: left;

  & ~ button {
    flex-grow: 0;
  }
  mat-icon {
    font-size: 14px;
    line-height: 20px;
    margin-right: 2px;
    vertical-align: middle;
    opacity: .9;
  }
}

[disabled] {
  position: relative;
  overflow: hidden;

  mat-progress-bar.on-disabled {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

mat-expansion-panel-header {
  padding-top: 6px;
  padding-bottom: 6px;
}
.contact-header {
  display: flex;
  align-items: center;

  eth-kudos-blockie {
    margin-right: 16px;
    height: 26px;
  }

  &__row {
    font-size: 16px;
    height: 18px;
    line-height: 18px;
    font-weight: 400;
    display: block;

    &--address {
      font-family: 'Roboto Mono', monospace;
      font-weight: normal;
      font-size: 14px;
      padding-top: 1px;
      opacity: .5;
    }
  }
}
