@import '../../../styles/index';

@include ranking();
@include gratitude-card();

:host {
  @include host(true);
}

mat-form-field {
  display: block;
}
mat-card,
mat-accordion {
  margin-bottom: 40px;
  display: block;

  &.relative {
    position: relative;
  }
  &.half-margin {
    margin-bottom: 20px;
  }
}
mat-card-actions {
  text-align: right;
}

.active-poll {
  eth-kudos-blockie {
    display: block;
    margin-right: 12px;
  }
  mat-card-title {
    position: relative;
    top: 2px;
  }
  mat-card-subtitle {
    margin-bottom: 0;
    margin-left: -2px;
  }
}

.gratitude:not(:last-child) {
  margin-bottom: 20px;
}
