@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-grey, A200, A100, A400);

$app-warn: mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

body {
  margin: 0;
  background: #fafafa;
  font-family: 'Roboto', sans-serif;
}
code {
  font-family: 'Roboto Mono', monospace;
}

.on-disabled {
  display: none !important;
}
[disabled] {
  opacity: .66;
  pointer-events: none;

  .on-disabled {
    display: block !important;
  }
}

mat-form-field.input-address input {
  font-family: 'Roboto mono';
}

.pointer {
  cursor: pointer;
}

.ranking {
  padding: 8px 0;
  color: #333;
  display: flex;
  align-items: center;
  width: 100%;

  eth-kudos-blockie {
    vertical-align: middle;
    margin-right: 10px;
    display: inline-block;
  }

  &__balance {
    font-family: 'Roboto Mono';
    color: #666666;
    background: #dddddd;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 12.5px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    code {
      opacity: .6;
      padding-left: 2px;
      font-size: .7em;
    }
    &-wrapper {
      min-width: 108px;
      display: inline-block;
      text-align: right;
      margin-right: 18px;
      vertical-align: middle;

      @media (max-width: 400px) {
        min-width: 80px;
        font-size: 12px;
      }
    }
  }
  [data-n='1'] &__balance {
    color: #ffffff;
    background: #cfb53b;
  }
  [data-n='2'] &__balance {
    color: #ffffff;
    background: #b3ccea;
  }
  [data-n='3'] &__balance {
    color: #ffffff;
    background: #a58768;
  }
  &__name {
    font-size: 20px;
    font-weight: 400;
    opacity: .8;
    padding-top: 2px;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &--address {
      font-family: "Roboto Mono";
      font-size: 14px;
      padding-top: 1px;
      opacity: .6 !important;
    }

    @media (max-width: 400px) {
      font-size: 16px;

      &--address {
        font-size: 12px;
      }
    }
  }
  [data-n='1'] &__name,
  [data-n='2'] &__name,
  [data-n='3'] &__name {
    opacity: 1;
  }

  &-wrapper {
    margin: 0 !important;
    width: 100%;
  }
}

.active-poll {
  eth-kudos-blockie {
    display: block;
    margin-right: 12px;
  }
  mat-card-title {
    position: relative;
    top: 2px;
  }
  mat-card-subtitle {
    margin-bottom: 0;
    margin-left: -2px;
  }
}

.icon-block {
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px;

  * {
    display: inline-block;
    vertical-align: middle;
  }
  mat-icon {
    height: 17px;
    line-height: 14px;
  }
  span {
    position: relative;
    top: 1px;
    padding-left: 4px;
  }
}

@media (max-width: 540px) {
  .bp-l {
    display: none !important;
  }
}
@media (min-width: 541px) {
  .bp-s {
    display: none !important;
  }
}
