<div class="container">

  <header>
    <h1>Eth<span>Kudos</span></h1>
  </header>

  <section class="main">

    <div class="main__text">
      <h2>Connecting coworkers</h2>
      <p>
        EthKudos provides a way of gratifying the team cooperation.
      </p>
      <p>
        Each member will award to people that have helped him or herself,
        <br>
        boosting team cooperation and appreciating the work of the members.
      </p>
    </div>
    <div class="main__card">
      <mat-card>
        <h3>Join an organization</h3>
      </mat-card>
    </div>

  </section>
</div>
