@import '~@angular/material/theming';
@import '../styles/index';

$background: #f6f6f6;
$content-background: #f9f9f9;
$header-size: 70px;

:host {
  background: $background;
  height: 100%;
  display: block;

  * {
    box-sizing: border-box;
  }
}

[disabled] {
  position: relative;
  overflow: hidden;

  mat-progress-bar.on-disabled {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.container {
  background: $content-background;
  // max-width: 1800px;
  width: 100%;
  margin: auto;
  height: 100%;


  // TODO - Remove it
  &__extra {
    height: 100px;
  }
}

header {
  @include mat-elevation(0);

  position: fixed;
  z-index: 10;
  line-height: $header-size;
  padding: 0 40px;
  width: 100%;
  // max-width: 1800px;
  top: 0;
  left: 50%;
  border-bottom: 1px solid rgba(0,0,0, .08);
  transform: translateX(-50%);
  background: #ffffff;
  color: #555555;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-weight: 300;
    margin: 0;
    font-size: 32px;
    flex: 1;
    padding-right: 40px;

    span {
      font-weight: 400;
    }
  }
  .organisation {
    overflow: hidden;
  }

  @media (max-width: 540px) {
    padding: 0 20px;

    h1 {
      padding-right: 20px;
    }
  }

  @media (max-width: 400px) {
    .organisation {
      eth-kudos-blockie {
        margin-right: 20px;
      }
      &__info {
        display: none;
      }
    }
  }
}

.main {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: $header-size;
  max-width: 1480px;
  margin: auto;
  min-height: 700px;

  &__text,
  &__card {
    width: 100%;
  }
  &__text {
    color: #4a4a4a;
    padding: 40px;
    font-size: 16px;
    max-width: 640px;

    @media (max-width: 1200px) {
      br {
        display: none;
      }
    }

    h2 {
      margin: 0;
      margin-bottom: 20px;
      font-weight: 300;
      font-size: 36px;
    }
    p {
      margin: 14px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-button {
      padding-top: 4px;
    }

    @media (max-width: 1060px) {
      h2 {
        font-size: 28px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  mat-card {
    position: relative;
    display: block;
    overflow: hidden;
  }
  &__card {
    padding: 40px;
    color: #333333;

    a {
      @incldue transition;

      color: #3f51b5;
      text-decoration: none;

      &:hover {
        opacity: .8;
      }
    }
    mat-card {
      width: 488px;
      margin: auto;
    }
    h3 {
      font-size: 18px;
      font-weight: 400;
      color: #333333;
      margin-top: 0;
    }
    h4 {
      font-weight: 300;
      margin-top: -10px;
      color: #666666;

      strong {
        font-weight: 400;
        color: #555555;
      }
    }
    mat-form-field {
      width: 100%;
    }
    mat-checkbox {
      display: block;
      margin-top: 6px;
    }

    .or {
      height: 1px;
      line-height: 1px;
      margin: 38px 0 30px;
      text-align: center;
      color: #333333;

      &:after,
      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 1px;
        width: 50px;
        background: #cccccc;
        margin: 0 10px;
      }
    }
    .new-organisation {
      text-align: center;
    }
  }
}

.organisation {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  padding-right: 6px;
  background: #dddddd;
  border-radius: 24px;
  height: 48px;
  line-height: 17px;
  max-width: 320px;
  margin: 4px auto 0;
  position: relative;

  &--margin {
    margin-top: 20px;
  }

  &__info {
    padding: 0 12px;
    flex: 1;
    overflow: hidden;
  }
  &__name,
  &__balance,
  &__not-member {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__name {
    display: block;
  }
  &__balance {
    display: block;
    font-family: "Roboto Mono";

    span {
      opacity: .6;
      padding-left: 2px;
      font-size: .7em;
    }
  }
  &__not-member {
    display: block;
    opacity: .6;
  }
  button {
    border-radius: #{36px / 2};
    background: rgba(#ffffff, .6);

    & /deep/ .mat-button-ripple {
      border-radius: #{36px / 2};
    }
  }
}

.metamask-logo {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    margin: auto;
  }
}

.metamask-image {
  display: block;
  margin: auto;
  order: 1px solid rgba(0, 0, 0, .15);
  padding-top: 2px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);

  &-wrapper {
    position: relative;
    margin-top: 30px;
  }

  &__circle {
    position: absolute;
    left: 50%;
    width: 80px;
    height: 80px;
    border: 5px solid rgba(234, 234, 234, 0.6);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0);
    opacity: 0;
    animation: circle-animation infinite 6s linear;

    &--n1 {
      top: 20px;
      margin-left: -92px;
    }
    &--n2 {
      top: 120px;
      margin-left: 0px;
      animation-delay: 2s;
    }
  }
}

@keyframes circle-animation {
  0%,
  25%,
  100% {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.8);
  }
  12.5% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale(1.2);
  }
}

.autocomplete-option {
  &__blockie {
    height: 26px;
    display: inline-block;
    vertical-align: middle;
  }
  &__text {
    display: inline-block;
    vertical-align: middle;
    font-family: "Roboto Mono";
    padding-left: 10px;
    color: #444444;
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  .main {
    display: block;
    padding-bottom: 60px;
    height: auto;
    min-height: auto;

    &__text {
      padding-top: 80px;

      br {
        display: block;
      }
    }
    &__text,
    &__card {
      margin: auto;
      width: 570px;
    }
  }
}

@media (max-width: 570px) {
  .main {
    display: block;
    min-height: auto;

    &__text {
      padding-top: 80px;

      br {
        display: none;
      }
    }
    &__text,
    &__card {
      margin: auto;
      width: 100%;
      max-width: 570px;
      padding-right: 20px;
      padding-left: 20px;
    }
    mat-card {
      width: 100%;
    }
  }
}

@media (max-width: 430px) {
  .metamask-image {
    max-width: 100%;

    &__circle {
      &--n1 {
        margin-left: -27%;
      }
      &--n2 {
        display: none;
      }
    }
  }
}

.block {
  padding: 40px;

  @media (max-width: 1060px) {
    padding: 20px;
  }

  &__content {
    display: flex;
    max-width: 1480px;
  }

  &__text {
    padding: 20px;
    max-width: 640px;
    color: #333333;

    h2,
    h3 {
      span {
        display: inline-block;
      }
    }

    h2 {
      font-size: 32px;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 20px;
    }
    h3 {
      font-size: 24px;
      margin-top: 20px;
      font-weight: 300;
      color: #555555;
    }
    p {
      margin: 14px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
    button {
      margin-top: 14px;
    }

    &--right {
      text-align: right;
    }

    @media (max-width: 1200px) {
      h2 {
        font-size: 28px;
      }
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  &__grow {
    flex: 1;
  }

  &--members {
    background: url('/assets/bg-colorful.png');
    background-attachment: fixed;
    border: 1px solid rgba(0, 0, 0, .08);
    border-left: 0;
    border-right: 0;

    &__ranking {
      padding: 0px 20px;


      @media (max-width: 800px) {
        width: 100%;
        padding: 30px 0;
      }

      mat-accordion {
        max-width: 500px;
        margin: auto;
        display: block;
      }
    }
  }
  &--members &__content {
    align-items: center;
    min-height: 460px;

    @media (max-width: 800px) {
      flex-direction: column-reverse;
    }
  }
  &--members &__text {
    margin-left: 40px;

    @media (max-width: 1060px) {
      margin-left: 20px;
    }
    @media (max-width: 800px) {
      margin-left: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.preload {
  height: 0;
  width: 0;
  position: fixed;
  top: -999999px;
  left: -999999px;
}
