@import '~@angular/material/theming';
@import '../styles/index';

$background: #f6f6f6;
$content-background: #f9f9f9;
$header-size: 70px;

:host {
  background: $background;
  height: 100%;
  display: block;

  * {
    box-sizing: border-box;
  }
}

.container {
  background: $content-background;
  max-width: 1800px;
  width: 100%;
  margin: auto;
  height: 100%;
}

header {
  @include mat-elevation(0);

  position: fixed;
  z-index: 10;
  line-height: $header-size;
  padding: 0 40px;
  width: 100%;
  max-width: 1800px;
  top: 0;
  left: 50%;
  border-bottom: 1px solid rgba(0,0,0, .08);
  transform: translateX(-50%);
  background: #ffffff;
  color: #555555;

  h1 {
    font-weight: 300;
    margin: 0;
    font-size: 32px;

    span {
      font-weight: 400;
    }
  }
}

.main {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: $header-size;

  &__text,
  &__card {
    width: 100%;
  }
  &__text {
    color: #4a4a4a;
    padding: 40px;
    font-size: 16px;
    max-width: 640px;

    h2 {
      margin: 0;
      margin-bottom: 20px;
      font-weight: 300;
      font-size: 36px;
    }
    p {
      margin: 14px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  mat-card {
    position: relative;
    display: block;
    overflow: hidden;
  }
  &__card {
    padding: 40px;
    color: #333333;

    a {
      @incldue transition;

      color: #3f51b5;
      text-decoration: none;

      &:hover {
        opacity: .8;
      }
    }
    mat-card {
      width: 100%;
      max-width: 488px;
      margin: auto;
    }
    h3 {
      font-size: 18px;
      font-weight: 400;
      color: #333333;
    }
    h4 {
      font-weight: 300;
      margin-top: -10px;
      color: #666666;
    }
    mat-form-field {
      width: 100%;
    }

    .organisation {
      display: flex;
      align-items: center;
      padding: 4px 12px;
      padding-right: 6px;
      background: #dddddd;
      border-radius: 24px;
      height: 48px;
      line-height: 17px;
      max-width: 320px;
      margin: 4px auto 0;
      position: relative;

      &__info {
        padding: 0 12px;
        flex: 1;
        overflow: hidden;
      }
      &__name,
      &__balance,
      &__not-member {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &__name {
        display: block;
      }
      &__balance {
        display: block;
        font-family: "Roboto Mono";

        span {
          opacity: .6;
          padding-left: 2px;
          font-size: .7em;
        }
      }
      &__not-member {
        display: block;
        opacity: .6;
      }
      button {
        border-radius: #{36px / 2};

        & /deep/ .mat-button-ripple {
          border-radius: #{36px / 2};
        }
      }
    }

    .or {
      height: 1px;
      line-height: 1px;
      margin: 30px 0;
      text-align: center;
      color: #333333;

      &:after,
      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 1px;
        width: 50px;
        background: #cccccc;
        margin: 0 10px;
      }
    }
    .new-organisation {
      text-align: center;
    }
  }
}

.autocomplete-option {
  &__blockie {
    height: 26px;
    display: inline-block;
    vertical-align: middle;
  }
  &__text {
    display: inline-block;
    vertical-align: middle;
    font-family: "Roboto Mono";
    padding-left: 10px;
    color: #444444;
    font-size: 14px;
  }
}
