<div class="container">

  <header>
    <h1>Eth<span>Kudos</span></h1>
  </header>

  <section class="main">

    <div class="main__text">
      <h2>Connecting coworkers</h2>
      <p>
        EthKudos provides a way of gratifying the team cooperation.
      </p>
      <p>
        Each member will award to people that have helped him or herself,
        <br>
        boosting team cooperation and appreciating the work of the members.
      </p>
    </div>
    <div class="main__card">
      <mat-card @cardInOut *ngIf="!showCreateForm">
        <h3>Join an organisation</h3>

        <mat-form-field class="input-address">
          <eth-kudos-blockie matPrefix [address]="orgAddress" variant="prefix"></eth-kudos-blockie>
          <input
            matInput
            [(ngModel)]="orgAddress"
            (ngModelChange)="newOrgAddress.next($event)"
            type="text"
            #organisationAddress="ngModel"
            name="organisationAddress"
            placeholder="Organisation address (0x...)"
            pattern="(^0x[0-9a-fA-F]{40}$)?"
            [matAutocomplete]="orgs">
          <mat-error align="end" *ngIf="organisationAddress.errors?.pattern">
            Is not a valid Ethereum address.
          </mat-error>
          <mat-autocomplete #orgs="matAutocomplete">
            <mat-option *ngFor="let org of organisations$ | async" [value]="org">
              <eth-kudos-blockie class="autocomplete-option__blockie" [address]="org"></eth-kudos-blockie>
              <span class="autocomplete-option__text">{{org}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div class="organisation" *ngIf="selectedOrganisation$ | async as org" @cardInOut>
          <eth-kudos-blockie [address]="org.address" variant="big"></eth-kudos-blockie>
          <div class="organisation__info">
            <span class="organisation__name">{{org.name}}</span>
            <span class="organisation__balance" *ngIf="org.imMember">{{org.myBalance}}<span>{{org.symbol}}</span></span>
            <span class="organisation__not-member" *ngIf="!org.imMember">You are not member</span>
          </div>
          <button mat-button [routerLink]="['/', org.address]">open</button>
        </div>
      </mat-card>

      <mat-card @cardInOut *ngIf="showCreateForm">
        <h3>Create your organisation</h3>
        <h4>
          An organization is a
          <a href="https://www.ethereum.org/token" target="_blank">Ethereum Token</a>
          with a Kudos system
        </h4>

        <form #newOrgForm="ngForm" novalidate>

          <mat-form-field>
            <input
              matInput
              [(ngModel)]="newOrg.name"
              type="text"
              name="orgName"
              placeholder="Token name"
              required>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              [(ngModel)]="newOrg.symbol"
              type="text"
              name="orgSymbol"
              placeholder="Token symbol"
              required>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              [(ngModel)]="newOrg.decimals"
              type="number"
              [min]="0"
              [max]="8"
              name="orgDecimals"
              placeholder="Token decimals"
              required>
          </mat-form-field>

          <div class="organisation" *ngIf="newOrg.name" @cardInOut>
            <eth-kudos-blockie random variant="big"></eth-kudos-blockie>
            <div class="organisation__info">
              <span class="organisation__name">{{newOrg.name}}</span>
              <span class="organisation__balance">{{19.123456789 | number : '.0-' + (newOrg.decimals || 0)}}<span>{{newOrg.symbol}}</span></span>
            </div>
            <button mat-button [disabled]="!newOrgForm.valid">create</button>
          </div>

        </form>

      </mat-card>

      <div class="or">or</div>

      <div class="new-organisation" @cardInOut *ngIf="showCreateForm">
        <button mat-button color="primary" (click)="showCreateForm = !showCreateForm">Join an organisation</button>
      </div>
      <div class="new-organisation" @cardInOut *ngIf="!showCreateForm">
        <button mat-button color="primary" (click)="showCreateForm = !showCreateForm">Create a new organisation</button>
      </div>
    </div>

  </section>
</div>
