<div class="container" [class.container--visible]="visible">
  <div class="header-bg"></div>

  <div class="content-wrapper">
    <div class="content">
      <h1>Donate</h1>

      <div class="content-box content-box--content-style">

        <h2><span>Make EthKudos better</span> <span>with your Ether donation</span></h2>

        <div class="organisation-wrapper">
          <div class="organisation">
            <eth-kudos-blockie [address]="donationAddress" variant="big"></eth-kudos-blockie>
            <div class="organisation__info">
              <span class="organisation__name">EthKudos Donation address</span>
              <span class="organisation__balance" #address>{{donationAddress}}</span>
            </div>
            <button mat-icon-button color="primary" *ngIf="!copied" (click)="copyAddress()">
              <mat-icon>content_copy</mat-icon>
            </button>
            <button mat-icon-button color="primary" *ngIf="copied" matTooltip="Copied!">
              <mat-icon>check</mat-icon>
            </button>
          </div>
        </div>

        <div class="cards-container">
          <mat-card>
            <img class="qr" src="assets/donation-qr.svg" [attr.alt]="'Donation QR code' | translate">
          </mat-card>

          <div class="right-side">

            <mat-card class="tx" *ngIf="pendingDonation.tx" [attr.disabled]="pendingDonation.working">
              <mat-progress-bar class="on-disabled" mode="indeterminate"></mat-progress-bar>

              <div class="tx-link" (click)=goToEtherscan(pendingDonation.tx)>
                <mat-icon>open_in_new</mat-icon>
                <span>{{pendingDonation.tx}}</span>
              </div>

              <div class="tx-ok" matTooltip="Confirmations" *ngIf="pendingDonation.confirmations">
                <mat-icon>check</mat-icon>
                <span>{{pendingDonation.confirmations > 20 ? '+20' : pendingDonation.confirmations}}</span>
              </div>

              <button mat-icon-button [disabled]="pendingDonation.working" (click)="pendingDonation.tx = undefined">
                <mat-icon>close</mat-icon>
              </button>
            </mat-card>

            <mat-card class="donation" *ngIf="(status$ | async) === 'total' || (status$ | async) === 'no-network'; else noProvider">
              <h3>Donate</h3>
              <div class="inputs">
                <mat-form-field class="ether-input">
                  <span matSuffix>&Xi;</span>
                  <input
                    matInput
                    [(ngModel)]="donationAmount"
                    type="number"
                    step="0.001"
                    min="0">
                </mat-form-field>
                <button mat-raised-button
                  color="primary"
                  [disabled]="pendingDonation.working"
                  (click)="donate()">

                  donate
                </button>
              </div>
              <div class="warning" *ngIf="(status$ | async) !== 'main'">
                <mat-icon>warning</mat-icon>
                <em>
                  Ether on testnet has no value.
                  Change to main network, if not
                  we will appreciate your support.
                </em>
              </div>
            </mat-card>

            <ng-template #noProvider>
              <eth-kudos-help-cards></eth-kudos-help-cards>
            </ng-template>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

